In [1]:
from sqlalchemy import create_engine
import random
import pandas as pd
import numpy as np
import names
import string

### Ufuncs

def _clamp(x):
    return max(0, min(x, 255))


def col_gen():
    return "#{0:02x}{1:02x}{2:02x}".format(
        _clamp(random.randint(10, 255)),
        _clamp(random.randint(10, 255)),
        _clamp(random.randint(10, 255)),
    )

### Download few sample standard datasets

df = pd.read_csv("https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/4_ThreeNum.csv")
disk_engine = create_engine('sqlite:///charts_db.db')
df.to_sql('gdp_data', disk_engine, if_exists='append')
df = pd.read_csv("https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/weather.csv")
disk_engine = create_engine('sqlite:///charts_db.db')
df.to_sql('weather_data', disk_engine, if_exists='append')
df = pd.read_csv("https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/6_SeveralNum.csv")
df.rename(columns = {"Unnamed: 0":"label"}, inplace = True)
disk_engine = create_engine('sqlite:///charts_db.db')
df.to_sql('mtcars_data', disk_engine, if_exists='append')
pd.read_csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_correlogram.csv").rename(columns = {"Unnamed: 0":"label"}).round(4).to_sql('correlogram_data_table', disk_engine, if_exists='append')

11

## __Donut chart:__

* Two tables: data and fill
* In data table it will have two columns: label and value
* In fill table it will have two columns: label and color
* As next step we need to have a drop down menu which will filter the data which has to be shown in the chart and in the backend we will send a list of key value pair where value will be of the same format as it is for a single selection of the drop down menu.

### __Expected output:__

```
[{'label': 'Michael Tacadina', 'value': 24, 'fill': '#a72b31'},
 {'label': 'John Thomas', 'value': 22, 'fill': '#fdb134'},
 {'label': 'Carrie Carter', 'value': 81, 'fill': '#395f5b'},
 {'label': 'Catherine Henry', 'value': 33, 'fill': '#2cdcf3'},
 {'label': 'Stephanie Horton', 'value': 49, 'fill': '#8df85c'},
 {'label': 'Reggie Miller', 'value': 23, 'fill': '#37c19f'},
 {'label': 'Bernard Bushman', 'value': 6, 'fill': '#74ecd7'},
 {'label': 'Kenneth Rubio', 'value': 98, 'fill': '#e1d1c1'},
 {'label': 'Idella Corda', 'value': 35, 'fill': '#ca7cff'},
 {'label': 'Kay Kaye', 'value': 22, 'fill': '#79d2b6'}]
```

* __Reference:__ https://codesandbox.io/s/6hr9o

In [2]:
### Generate data

label_len = 10
label = [names.get_full_name() for _ in range(label_len)]
value = [random.randint(1, 100) for _ in range(label_len)]
fill = [col_gen() for _ in range(label_len)]
donut_df = pd.DataFrame({'label': label, 'value': value})
label_fill_df = pd.DataFrame({'label': label, 'fill': fill})

### Save data

disk_engine = create_engine('sqlite:///charts_db.db')
donut_df.to_sql('donut_data_table', disk_engine, if_exists='append')
label_fill_df.to_sql('donut_fill_table', disk_engine, if_exists='append')

### Get data

data_df = pd.read_sql_query('SELECT * FROM donut_data_table',disk_engine)
data_df = data_df.drop('index',axis= 1)

fill_df = pd.read_sql_query('SELECT * FROM donut_fill_table', disk_engine)
fill_df = fill_df.drop('index',axis= 1)


### Parse data for chart

response_payload = ((data_df.set_index('label')).join(fill_df.set_index('label'))).reset_index().to_dict('records')
response_payload

[{'label': 'Clifford Rodriguez', 'value': 72, 'fill': '#0e8dc7'},
 {'label': 'Bruce Leth', 'value': 50, 'fill': '#8047de'},
 {'label': 'Sherri Trautman', 'value': 54, 'fill': '#645566'},
 {'label': 'Ramiro Stewart', 'value': 89, 'fill': '#8c3d7c'},
 {'label': 'James Finchum', 'value': 37, 'fill': '#a7ccf6'},
 {'label': 'Barbara Miller', 'value': 41, 'fill': '#c3fb46'},
 {'label': 'Cindy Varin', 'value': 75, 'fill': '#754b44'},
 {'label': 'Rosalie Biron', 'value': 2, 'fill': '#1b6617'},
 {'label': 'Myrtle Smiley', 'value': 20, 'fill': '#b840db'},
 {'label': 'Steve Kelly', 'value': 45, 'fill': '#e7b8c5'}]

# __Stacked Bar Chart__

* `label` : x axis
* `q, y,x`: values to be plotted in y axis
* `fill`: colors of `q, y, x` to be plotted in chart


### __Expected output format:__

```
{'data': [{'label': 'Jordan Yates', 'y': 58.19, 'q': 87.72, 's': 13.3},
  {'label': 'Donald Mandich', 'y': 51.34, 'q': 29.0, 's': 85.66},
  {'label': 'Marie Cox', 'y': 51.56, 'q': 68.82, 's': 56.37},
  {'label': 'Glenn Davis', 'y': 37.87, 'q': 37.81, 's': 4.66},
  {'label': 'Judith Mouret', 'y': 79.04, 'q': 2.17, 's': 62.1},
  {'label': 'Gregoria Schupp', 'y': 47.83, 'q': 35.85, 's': 28.11}],
 'fill': [{'label': 'y', 'fill': '#d14aac'},
  {'label': 'q', 'fill': '#2dff71'},
  {'label': 's', 'fill': '#bd825e'}]}
```


* __Reference:__ https://www.geeksforgeeks.org/create-a-stacked-bar-chart-using-recharts-in-reactjs/

In [3]:
### Generate data

n_label = 6
n_var = 3
label = [names.get_full_name() for _ in range(n_label)]
var_collector = []
data_collector = []
cols_collector = []

while len(set(var_collector))< n_var:
    var_collector.append(random.choice(string.ascii_lowercase))
    data_collector.append(np.random.uniform(1,100,n_label))
    cols_collector.append(col_gen())

data_df = pd.DataFrame(data_collector, index =var_collector, columns = label).T.reset_index().rename(columns = {"index":"label"}).round(2)
fill_df = pd.DataFrame({'label': var_collector, 'fill': cols_collector})

### Save data

disk_engine = create_engine('sqlite:///charts_db.db')
data_df.to_sql('stackedchart_data_table', disk_engine, if_exists='append')
fill_df.to_sql('stackedchart_fill_table', disk_engine, if_exists='append')

### Get data

data_df = pd.read_sql_query('SELECT * FROM stackedchart_data_table',disk_engine)
data_df = data_df.drop('index',axis= 1)

fill_df = pd.read_sql_query('SELECT * FROM stackedchart_fill_table', disk_engine)
fill_df = fill_df.drop('index',axis= 1)


### Parse data for chart

response_payload = {"data":data_df.to_dict('records'),"fill":fill_df.to_dict('records')}
response_payload

{'data': [{'label': 'Charles Soule', 'l': 72.53, 'r': 19.79, 'i': 58.17},
  {'label': 'Danny Goan', 'l': 89.91, 'r': 45.46, 'i': 35.69},
  {'label': 'Wayne Miles', 'l': 79.96, 'r': 8.97, 'i': 46.92},
  {'label': 'Tanya David', 'l': 85.69, 'r': 56.69, 'i': 83.47},
  {'label': 'Edward Adkinson', 'l': 12.01, 'r': 60.49, 'i': 27.21},
  {'label': 'Bette Bailey', 'l': 92.06, 'r': 96.48, 'i': 35.76}],
 'fill': [{'label': 'l', 'fill': '#b01a0f'},
  {'label': 'r', 'fill': '#69ab7f'},
  {'label': 'i', 'fill': '#d837d6'}]}

# Line chart

* `label` values to be shown in x axis
* `q, j. o` are values to be shown in y axis. this number may vary
* `fill` the color code of the q, j and o has to be populated from `fill` key

### __Expected output format:__


```
{'data': [{'label': 'Elsie Bahr', 'q': 4.06, 'j': 80.86, 'o': 53.18},
  {'label': 'Barbara Brown', 'q': 14.81, 'j': 2.42, 'o': 13.32},
  {'label': 'Kyle Garza', 'q': 29.38, 'j': 84.08, 'o': 12.12},
  {'label': 'John Miller', 'q': 70.11, 'j': 53.58, 'o': 43.44},
  {'label': 'Kermit Collison', 'q': 48.75, 'j': 64.24, 'o': 35.52},
  {'label': 'Philip Oliveira', 'q': 98.84, 'j': 26.04, 'o': 69.33}],
 'fill': [{'label': 'q', 'fill': '#b73fba'},
  {'label': 'j', 'fill': '#51a3cc'},
  {'label': 'o', 'fill': '#7f9356'}]}

```
* __Reference:__ https://www.geeksforgeeks.org/create-a-line-chart-using-recharts-in-reactjs/

In [4]:
### Generate data
n_label = 6
n_var = 3
label = [names.get_full_name() for _ in range(n_label)]
var_collector = []
data_collector = []
cols_collector = []

while len(set(var_collector))< n_var:
    var_collector.append(random.choice(string.ascii_lowercase))
    data_collector.append(np.random.uniform(1,100,n_label))
    cols_collector.append(col_gen())

data_df = pd.DataFrame(data_collector, index =var_collector, columns = label).T.reset_index().rename(columns = {"index":"label"}).round(2)
fill_df = pd.DataFrame({'label': var_collector, 'fill': cols_collector})

### Save data

disk_engine = create_engine('sqlite:///charts_db.db')
data_df.to_sql('linechart_data_table', disk_engine, if_exists='append')
fill_df.to_sql('linechart_fill_table', disk_engine, if_exists='append')

### Get data

data_df = pd.read_sql_query('SELECT * FROM linechart_data_table',disk_engine)
data_df = data_df.drop('index',axis= 1)

fill_df = pd.read_sql_query('SELECT * FROM linechart_fill_table', disk_engine)
fill_df = fill_df.drop('index',axis= 1)


### Parse data for chart

response_payload = {"data":data_df.to_dict('records'),"fill":fill_df.to_dict('records')}
response_payload

{'data': [{'label': 'Ruby Lichtenberg', 'i': 27.89, 'n': 49.48, 'o': 36.67},
  {'label': 'Stanley Crawford', 'i': 79.99, 'n': 79.35, 'o': 69.11},
  {'label': 'Guadalupe Green', 'i': 8.21, 'n': 60.06, 'o': 66.48},
  {'label': 'Jeremy Meade', 'i': 5.27, 'n': 1.95, 'o': 41.57},
  {'label': 'Vincent Barton', 'i': 67.82, 'n': 60.3, 'o': 63.83},
  {'label': 'Stephanie Langton', 'i': 3.36, 'n': 68.51, 'o': 55.87}],
 'fill': [{'label': 'i', 'fill': '#3640d5'},
  {'label': 'i', 'fill': '#9f1a25'},
  {'label': 'n', 'fill': '#2625ee'},
  {'label': 'o', 'fill': '#c7b8a8'}]}

# Area chart

* __Reference:__ https://www.geeksforgeeks.org/create-a-stacked-area-chart-using-recharts-in-reactjs/

In [5]:
### Generate data
n_label = 6
n_var = 3
label = [names.get_full_name() for _ in range(n_label)]
var_collector = []
data_collector = []
cols_collector = []

while len(set(var_collector))< n_var:
    var_collector.append(random.choice(string.ascii_lowercase))
    data_collector.append(np.random.uniform(1,100,n_label))
    cols_collector.append(col_gen())

data_df = pd.DataFrame(data_collector, index =var_collector, columns = label).T.reset_index().rename(columns = {"index":"label"}).round(2)
fill_df = pd.DataFrame({'label': var_collector, 'fill': cols_collector})

### Save data

disk_engine = create_engine('sqlite:///charts_db.db')
data_df.to_sql('areachart_data_table', disk_engine, if_exists='append')
fill_df.to_sql('areachart_fill_table', disk_engine, if_exists='append')

### Get data

data_df = pd.read_sql_query('SELECT * FROM areachart_data_table',disk_engine)
data_df = data_df.drop('index',axis= 1)

fill_df = pd.read_sql_query('SELECT * FROM areachart_fill_table', disk_engine)
fill_df = fill_df.drop('index',axis= 1)


### Parse data for chart

response_payload = {"data":data_df.to_dict('records'),"fill":fill_df.to_dict('records')}
response_payload

{'data': [{'label': 'Sandra Olds', 'e': 84.48, 'b': 6.28, 'j': 46.22},
  {'label': 'Deborah Moore', 'e': 92.23, 'b': 23.45, 'j': 37.39},
  {'label': 'John Huston', 'e': 73.77, 'b': 58.23, 'j': 69.09},
  {'label': 'Linda Woods', 'e': 24.29, 'b': 67.61, 'j': 71.83},
  {'label': 'Joy Davis', 'e': 19.58, 'b': 1.49, 'j': 23.05},
  {'label': 'Sophia Thompson', 'e': 34.83, 'b': 69.56, 'j': 60.53}],
 'fill': [{'label': 'e', 'fill': '#24aec1'},
  {'label': 'b', 'fill': '#5dea4a'},
  {'label': 'j', 'fill': '#af591c'}]}

# Scatter plot

* __Reference:__ https://www.geeksforgeeks.org/create-a-scatter-chart-using-recharts-in-reactjs/

In [6]:
### Generate data
n_label = 6
n_var = 2
var_collector = []
data_collector = []
cols_collector = []

while len(set(var_collector)) < n_var:
    var_collector.append(random.choice(string.ascii_lowercase))
    data_collector.append(np.random.uniform(1,100,n_label))
    cols_collector.append(col_gen())


data_df = pd.DataFrame(data_collector, index =var_collector).T.round(2)
fill_df = pd.DataFrame({'label': var_collector, 'fill': cols_collector})


# ### Save data

disk_engine = create_engine('sqlite:///charts_db.db')
data_df.to_sql('scatterplot_data_table', disk_engine, if_exists='append')
fill_df.to_sql('scatterplot_fill_table', disk_engine, if_exists='append')

# ### Get data

data_df = pd.read_sql_query('SELECT * FROM scatterplot_data_table',disk_engine)
data_df = data_df.drop('index',axis= 1)

fill_df = pd.read_sql_query('SELECT * FROM scatterplot_fill_table', disk_engine)
fill_df = fill_df.drop('index',axis= 1)


# ### Parse data for chart

response_payload = {"data":data_df.to_dict('records'),"fill":dict(zip(fill_df['label'].tolist(), fill_df['fill'].tolist()))}
response_payload

{'data': [{'k': 94.16, 'y': 88.2},
  {'k': 26.79, 'y': 85.36},
  {'k': 11.97, 'y': 94.24},
  {'k': 48.81, 'y': 8.07},
  {'k': 73.73, 'y': 3.75},
  {'k': 31.09, 'y': 68.4}],
 'fill': {'k': '#de232c', 'y': '#6c1c0f'}}

# Bar Chart


* __Reference:__ https://www.geeksforgeeks.org/create-a-bar-chart-using-recharts-in-reactjs/

In [7]:
### Generate data

label_len = 10
label = [names.get_full_name() for _ in range(label_len)]
value = [random.randint(1, 100) for _ in range(label_len)]
fill = [col_gen() for _ in range(label_len)]
donut_df = pd.DataFrame({'label': label, 'value': value})
label_fill_df = pd.DataFrame({'label': label, 'fill': fill})

### Save data

disk_engine = create_engine('sqlite:///charts_db.db')
donut_df.to_sql('barchart_data_table', disk_engine, if_exists='append')
label_fill_df.to_sql('barchart_fill_table', disk_engine, if_exists='append')

### Get data

data_df = pd.read_sql_query('SELECT * FROM barchart_data_table',disk_engine)
data_df = data_df.drop('index',axis= 1)

fill_df = pd.read_sql_query('SELECT * FROM barchart_fill_table', disk_engine)
fill_df = fill_df.drop('index',axis= 1)


### Parse data for chart

response_payload = ((data_df.set_index('label')).join(fill_df.set_index('label'))).reset_index().to_dict('records')
response_payload

[{'label': 'Minh Sauceda', 'value': 38, 'fill': '#245aa0'},
 {'label': 'Todd Beaucage', 'value': 40, 'fill': '#31b342'},
 {'label': 'Ronald Blenden', 'value': 97, 'fill': '#bf4872'},
 {'label': 'Martha Roby', 'value': 18, 'fill': '#6151f7'},
 {'label': 'Nicholas Rottman', 'value': 68, 'fill': '#c8564c'},
 {'label': 'Susan High', 'value': 45, 'fill': '#0a0d1b'},
 {'label': 'Eric Ballard', 'value': 83, 'fill': '#5f3bb8'},
 {'label': 'Johnny Hernandez', 'value': 36, 'fill': '#4e68e5'},
 {'label': 'Randy Surratt', 'value': 25, 'fill': '#c8746a'},
 {'label': 'Ruth Greene', 'value': 79, 'fill': '#220bb2'}]

# Bubble chart


* `gdpPercap`: x axis
* `lifeExp`: y axis
* `pop`: size of bubble
* `continent`: colour of bubble


* __Reference:__ https://d3-graph-gallery.com/graph/bubble_basic.html

In [8]:
### Read data from DB

df = pd.read_sql_query('SELECT * FROM gdp_data',disk_engine)
df = df.drop(['index'], axis = 1)
df = df.rename(columns = {"gdpPercap":"x","lifeExp":"y","pop":"z","country":'label'})
colour_df = df[['continent']].drop_duplicates()
colour_df['fill'] = [col_gen() for _ in range(len(colour_df))]
disk_engine = create_engine('sqlite:///charts_db.db')
colour_df.to_sql('gdp_data_fill', disk_engine, if_exists='append')

### Parse data for chart

response_payload = {"data":df.to_dict("records"),"fill":colour_df.to_dict("records")}
response_payload

{'data': [{'label': 'Afghanistan',
   'continent': 'Asia',
   'y': 43.828,
   'z': 31889923,
   'x': 974.5803384},
  {'label': 'Albania',
   'continent': 'Europe',
   'y': 76.423,
   'z': 3600523,
   'x': 5937.029526},
  {'label': 'Algeria',
   'continent': 'Africa',
   'y': 72.301,
   'z': 33333216,
   'x': 6223.367465},
  {'label': 'Angola',
   'continent': 'Africa',
   'y': 42.731,
   'z': 12420476,
   'x': 4797.231267},
  {'label': 'Argentina',
   'continent': 'Americas',
   'y': 75.32,
   'z': 40301927,
   'x': 12779.37964},
  {'label': 'Australia',
   'continent': 'Oceania',
   'y': 81.235,
   'z': 20434176,
   'x': 34435.36744},
  {'label': 'Austria',
   'continent': 'Europe',
   'y': 79.829,
   'z': 8199783,
   'x': 36126.4927},
  {'label': 'Bahrain',
   'continent': 'Asia',
   'y': 75.635,
   'z': 708573,
   'x': 29796.04834},
  {'label': 'Bangladesh',
   'continent': 'Asia',
   'y': 64.062,
   'z': 150448339,
   'x': 1391.253792},
  {'label': 'Belgium',
   'continent': 'Europe',
   'y': 79.441,
   'z': 10392226,
   'x': 33692.60508},
  {'label': 'Benin',
   'continent': 'Africa',
   'y': 56.728,
   'z': 8078314,
   'x': 1441.284873},
  {'label': 'Bolivia',
   'continent': 'Americas',
   'y': 65.554,
   'z': 9119152,
   'x': 3822.137084},
  {'label': 'Bosnia and Herzegovina',
   'continent': 'Europe',
   'y': 74.852,
   'z': 4552198,
   'x': 7446.298803},
  {'label': 'Botswana',
   'continent': 'Africa',
   'y': 50.728,
   'z': 1639131,
   'x': 12569.85177},
  {'label': 'Brazil',
   'continent': 'Americas',
   'y': 72.39,
   'z': 190010647,
   'x': 9065.800825},
  {'label': 'Bulgaria',
   'continent': 'Europe',
   'y': 73.005,
   'z': 7322858,
   'x': 10680.79282},
  {'label': 'Burkina Faso',
   'continent': 'Africa',
   'y': 52.295,
   'z': 14326203,
   'x': 1217.032994},
  {'label': 'Burundi',
   'continent': 'Africa',
   'y': 49.58,
   'z': 8390505,
   'x': 430.0706916},
  {'label': 'Cambodia',
   'continent': 'Asia',
   'y': 59.723,
   'z': 14131858,
   'x': 1713.778686},
  {'label': 'Cameroon',
   'continent': 'Africa',
   'y': 50.43,
   'z': 17696293,
   'x': 2042.09524},
  {'label': 'Canada',
   'continent': 'Americas',
   'y': 80.653,
   'z': 33390141,
   'x': 36319.23501},
  {'label': 'Central African Republic',
   'continent': 'Africa',
   'y': 44.741,
   'z': 4369038,
   'x': 706.016537},
  {'label': 'Chad',
   'continent': 'Africa',
   'y': 50.651,
   'z': 10238807,
   'x': 1704.063724},
  {'label': 'Chile',
   'continent': 'Americas',
   'y': 78.553,
   'z': 16284741,
   'x': 13171.63885},
  {'label': 'China',
   'continent': 'Asia',
   'y': 72.961,
   'z': 1318683096,
   'x': 4959.114854},
  {'label': 'Colombia',
   'continent': 'Americas',
   'y': 72.889,
   'z': 44227550,
   'x': 7006.580419},
  {'label': 'Comoros',
   'continent': 'Africa',
   'y': 65.152,
   'z': 710960,
   'x': 986.1478792},
  {'label': 'Congo, Dem. Rep.',
   'continent': 'Africa',
   'y': 46.462,
   'z': 64606759,
   'x': 277.5518587},
  {'label': 'Congo, Rep.',
   'continent': 'Africa',
   'y': 55.322,
   'z': 3800610,
   'x': 3632.557798},
  {'label': 'Costa Rica',
   'continent': 'Americas',
   'y': 78.782,
   'z': 4133884,
   'x': 9645.06142},
  {'label': "Cote d'Ivoire",
   'continent': 'Africa',
   'y': 48.328,
   'z': 18013409,
   'x': 1544.750112},
  {'label': 'Croatia',
   'continent': 'Europe',
   'y': 75.748,
   'z': 4493312,
   'x': 14619.22272},
  {'label': 'Cuba',
   'continent': 'Americas',
   'y': 78.273,
   'z': 11416987,
   'x': 8948.102923},
  {'label': 'Czech Republic',
   'continent': 'Europe',
   'y': 76.486,
   'z': 10228744,
   'x': 22833.30851},
  {'label': 'Denmark',
   'continent': 'Europe',
   'y': 78.332,
   'z': 5468120,
   'x': 35278.41874},
  {'label': 'Djibouti',
   'continent': 'Africa',
   'y': 54.791,
   'z': 496374,
   'x': 2082.481567},
  {'label': 'Dominican Republic',
   'continent': 'Americas',
   'y': 72.235,
   'z': 9319622,
   'x': 6025.374752},
  {'label': 'Ecuador',
   'continent': 'Americas',
   'y': 74.994,
   'z': 13755680,
   'x': 6873.262326},
  {'label': 'Egypt',
   'continent': 'Africa',
   'y': 71.338,
   'z': 80264543,
   'x': 5581.180998},
  {'label': 'El Salvador',
   'continent': 'Americas',
   'y': 71.878,
   'z': 6939688,
   'x': 5728.353514},
  {'label': 'Equatorial Guinea',
   'continent': 'Africa',
   'y': 51.579,
   'z': 551201,
   'x': 12154.08975},
  {'label': 'Eritrea',
   'continent': 'Africa',
   'y': 58.04,
   'z': 4906585,
   'x': 641.3695236},
  {'label': 'Ethiopia',
   'continent': 'Africa',
   'y': 52.947,
   'z': 76511887,
   'x': 690.8055759},
  {'label': 'Finland',
   'continent': 'Europe',
   'y': 79.313,
   'z': 5238460,
   'x': 33207.0844},
  {'label': 'France',
   'continent': 'Europe',
   'y': 80.657,
   'z': 61083916,
   'x': 30470.0167},
  {'label': 'Gabon',
   'continent': 'Africa',
   'y': 56.735,
   'z': 1454867,
   'x': 13206.48452},
  {'label': 'Gambia',
   'continent': 'Africa',
   'y': 59.448,
   'z': 1688359,
   'x': 752.7497265},
  {'label': 'Germany',
   'continent': 'Europe',
   'y': 79.406,
   'z': 82400996,
   'x': 32170.37442},
  {'label': 'Ghana',
   'continent': 'Africa',
   'y': 60.022,
   'z': 22873338,
   'x': 1327.60891},
  {'label': 'Greece',
   'continent': 'Europe',
   'y': 79.483,
   'z': 10706290,
   'x': 27538.41188},
  {'label': 'Guatemala',
   'continent': 'Americas',
   'y': 70.259,
   'z': 12572928,
   'x': 5186.050003},
  {'label': 'Guinea',
   'continent': 'Africa',
   'y': 56.007,
   'z': 9947814,
   'x': 942.6542111},
  {'label': 'Guinea-Bissau',
   'continent': 'Africa',
   'y': 46.388,
   'z': 1472041,
   'x': 579.231743},
  {'label': 'Haiti',
   'continent': 'Americas',
   'y': 60.916,
   'z': 8502814,
   'x': 1201.637154},
  {'label': 'Honduras',
   'continent': 'Americas',
   'y': 70.198,
   'z': 7483763,
   'x': 3548.330846},
  {'label': 'Hong Kong, China',
   'continent': 'Asia',
   'y': 82.208,
   'z': 6980412,
   'x': 39724.97867},
  {'label': 'Hungary',
   'continent': 'Europe',
   'y': 73.338,
   'z': 9956108,
   'x': 18008.94444},
  {'label': 'Iceland',
   'continent': 'Europe',
   'y': 81.757,
   'z': 301931,
   'x': 36180.78919},
  {'label': 'India',
   'continent': 'Asia',
   'y': 64.698,
   'z': 1110396331,
   'x': 2452.210407},
  {'label': 'Indonesia',
   'continent': 'Asia',
   'y': 70.65,
   'z': 223547000,
   'x': 3540.651564},
  {'label': 'Iran',
   'continent': 'Asia',
   'y': 70.964,
   'z': 69453570,
   'x': 11605.71449},
  {'label': 'Iraq',
   'continent': 'Asia',
   'y': 59.545,
   'z': 27499638,
   'x': 4471.061906},
  {'label': 'Ireland',
   'continent': 'Europe',
   'y': 78.885,
   'z': 4109086,
   'x': 40675.99635},
  {'label': 'Israel',
   'continent': 'Asia',
   'y': 80.745,
   'z': 6426679,
   'x': 25523.2771},
  {'label': 'Italy',
   'continent': 'Europe',
   'y': 80.546,
   'z': 58147733,
   'x': 28569.7197},
  {'label': 'Jamaica',
   'continent': 'Americas',
   'y': 72.567,
   'z': 2780132,
   'x': 7320.880262},
  {'label': 'Japan',
   'continent': 'Asia',
   'y': 82.603,
   'z': 127467972,
   'x': 31656.06806},
  {'label': 'Jordan',
   'continent': 'Asia',
   'y': 72.535,
   'z': 6053193,
   'x': 4519.461171},
  {'label': 'Kenya',
   'continent': 'Africa',
   'y': 54.11,
   'z': 35610177,
   'x': 1463.249282},
  {'label': 'Korea, Dem. Rep.',
   'continent': 'Asia',
   'y': 67.297,
   'z': 23301725,
   'x': 1593.06548},
  {'label': 'Korea, Rep.',
   'continent': 'Asia',
   'y': 78.623,
   'z': 49044790,
   'x': 23348.13973},
  {'label': 'Kuwait',
   'continent': 'Asia',
   'y': 77.588,
   'z': 2505559,
   'x': 47306.98978},
  {'label': 'Lebanon',
   'continent': 'Asia',
   'y': 71.993,
   'z': 3921278,
   'x': 10461.05868},
  {'label': 'Lesotho',
   'continent': 'Africa',
   'y': 42.592,
   'z': 2012649,
   'x': 1569.331442},
  {'label': 'Liberia',
   'continent': 'Africa',
   'y': 45.678,
   'z': 3193942,
   'x': 414.5073415},
  {'label': 'Libya',
   'continent': 'Africa',
   'y': 73.952,
   'z': 6036914,
   'x': 12057.49928},
  {'label': 'Madagascar',
   'continent': 'Africa',
   'y': 59.443,
   'z': 19167654,
   'x': 1044.770126},
  {'label': 'Malawi',
   'continent': 'Africa',
   'y': 48.303,
   'z': 13327079,
   'x': 759.3499101},
  {'label': 'Malaysia',
   'continent': 'Asia',
   'y': 74.241,
   'z': 24821286,
   'x': 12451.6558},
  {'label': 'Mali',
   'continent': 'Africa',
   'y': 54.467,
   'z': 12031795,
   'x': 1042.581557},
  {'label': 'Mauritania',
   'continent': 'Africa',
   'y': 64.164,
   'z': 3270065,
   'x': 1803.151496},
  {'label': 'Mauritius',
   'continent': 'Africa',
   'y': 72.801,
   'z': 1250882,
   'x': 10956.99112},
  {'label': 'Mexico',
   'continent': 'Americas',
   'y': 76.195,
   'z': 108700891,
   'x': 11977.57496},
  {'label': 'Mongolia',
   'continent': 'Asia',
   'y': 66.803,
   'z': 2874127,
   'x': 3095.772271},
  {'label': 'Montenegro',
   'continent': 'Europe',
   'y': 74.543,
   'z': 684736,
   'x': 9253.896111},
  {'label': 'Morocco',
   'continent': 'Africa',
   'y': 71.164,
   'z': 33757175,
   'x': 3820.17523},
  {'label': 'Mozambique',
   'continent': 'Africa',
   'y': 42.082,
   'z': 19951656,
   'x': 823.6856205},
  {'label': 'Myanmar',
   'continent': 'Asia',
   'y': 62.069,
   'z': 47761980,
   'x': 944.0},
  {'label': 'Namibia',
   'continent': 'Africa',
   'y': 52.906,
   'z': 2055080,
   'x': 4811.060429},
  {'label': 'Nepal',
   'continent': 'Asia',
   'y': 63.785,
   'z': 28901790,
   'x': 1091.359778},
  {'label': 'Netherlands',
   'continent': 'Europe',
   'y': 79.762,
   'z': 16570613,
   'x': 36797.93332},
  {'label': 'New Zealand',
   'continent': 'Oceania',
   'y': 80.204,
   'z': 4115771,
   'x': 25185.00911},
  {'label': 'Nicaragua',
   'continent': 'Americas',
   'y': 72.899,
   'z': 5675356,
   'x': 2749.320965},
  {'label': 'Niger',
   'continent': 'Africa',
   'y': 56.867,
   'z': 12894865,
   'x': 619.6768924},
  {'label': 'Nigeria',
   'continent': 'Africa',
   'y': 46.859,
   'z': 135031164,
   'x': 2013.977305},
  {'label': 'Norway',
   'continent': 'Europe',
   'y': 80.196,
   'z': 4627926,
   'x': 49357.19017},
  {'label': 'Oman',
   'continent': 'Asia',
   'y': 75.64,
   'z': 3204897,
   'x': 22316.19287},
  {'label': 'Pakistan',
   'continent': 'Asia',
   'y': 65.483,
   'z': 169270617,
   'x': 2605.94758},
  {'label': 'Panama',
   'continent': 'Americas',
   'y': 75.537,
   'z': 3242173,
   'x': 9809.185636},
  {'label': 'Paraguay',
   'continent': 'Americas',
   'y': 71.752,
   'z': 6667147,
   'x': 4172.838464},
  {'label': 'Peru',
   'continent': 'Americas',
   'y': 71.421,
   'z': 28674757,
   'x': 7408.905561},
  {'label': 'Philippines',
   'continent': 'Asia',
   'y': 71.688,
   'z': 91077287,
   'x': 3190.481016},
  {'label': 'Poland',
   'continent': 'Europe',
   'y': 75.563,
   'z': 38518241,
   'x': 15389.92468},
  {'label': 'Portugal',
   'continent': 'Europe',
   'y': 78.098,
   'z': 10642836,
   'x': 20509.64777},
  {'label': 'Puerto Rico',
   'continent': 'Americas',
   'y': 78.746,
   'z': 3942491,
   'x': 19328.70901},
  {'label': 'Reunion',
   'continent': 'Africa',
   'y': 76.442,
   'z': 798094,
   'x': 7670.122558},
  {'label': 'Romania',
   'continent': 'Europe',
   'y': 72.476,
   'z': 22276056,
   'x': 10808.47561},
  {'label': 'Rwanda',
   'continent': 'Africa',
   'y': 46.242,
   'z': 8860588,
   'x': 863.0884639},
  {'label': 'Sao Tome and Principe',
   'continent': 'Africa',
   'y': 65.528,
   'z': 199579,
   'x': 1598.435089},
  {'label': 'Saudi Arabia',
   'continent': 'Asia',
   'y': 72.777,
   'z': 27601038,
   'x': 21654.83194},
  {'label': 'Senegal',
   'continent': 'Africa',
   'y': 63.062,
   'z': 12267493,
   'x': 1712.472136},
  {'label': 'Serbia',
   'continent': 'Europe',
   'y': 74.002,
   'z': 10150265,
   'x': 9786.534714},
  {'label': 'Sierra Leone',
   'continent': 'Africa',
   'y': 42.568,
   'z': 6144562,
   'x': 862.5407561},
  {'label': 'Singapore',
   'continent': 'Asia',
   'y': 79.972,
   'z': 4553009,
   'x': 47143.17964},
  {'label': 'Slovak Republic',
   'continent': 'Europe',
   'y': 74.663,
   'z': 5447502,
   'x': 18678.31435},
  {'label': 'Slovenia',
   'continent': 'Europe',
   'y': 77.926,
   'z': 2009245,
   'x': 25768.25759},
  {'label': 'Somalia',
   'continent': 'Africa',
   'y': 48.159,
   'z': 9118773,
   'x': 926.1410683},
  {'label': 'South Africa',
   'continent': 'Africa',
   'y': 49.339,
   'z': 43997828,
   'x': 9269.657808},
  {'label': 'Spain',
   'continent': 'Europe',
   'y': 80.941,
   'z': 40448191,
   'x': 28821.0637},
  {'label': 'Sri Lanka',
   'continent': 'Asia',
   'y': 72.396,
   'z': 20378239,
   'x': 3970.095407},
  {'label': 'Sudan',
   'continent': 'Africa',
   'y': 58.556,
   'z': 42292929,
   'x': 2602.394995},
  {'label': 'Swaziland',
   'continent': 'Africa',
   'y': 39.613,
   'z': 1133066,
   'x': 4513.480643},
  {'label': 'Sweden',
   'continent': 'Europe',
   'y': 80.884,
   'z': 9031088,
   'x': 33859.74835},
  {'label': 'Switzerland',
   'continent': 'Europe',
   'y': 81.701,
   'z': 7554661,
   'x': 37506.41907},
  {'label': 'Syria',
   'continent': 'Asia',
   'y': 74.143,
   'z': 19314747,
   'x': 4184.548089},
  {'label': 'Taiwan',
   'continent': 'Asia',
   'y': 78.4,
   'z': 23174294,
   'x': 28718.27684},
  {'label': 'Tanzania',
   'continent': 'Africa',
   'y': 52.517,
   'z': 38139640,
   'x': 1107.482182},
  {'label': 'Thailand',
   'continent': 'Asia',
   'y': 70.616,
   'z': 65068149,
   'x': 7458.396327},
  {'label': 'Togo',
   'continent': 'Africa',
   'y': 58.42,
   'z': 5701579,
   'x': 882.9699438},
  {'label': 'Trinidad and Tobago',
   'continent': 'Americas',
   'y': 69.819,
   'z': 1056608,
   'x': 18008.50924},
  {'label': 'Tunisia',
   'continent': 'Africa',
   'y': 73.923,
   'z': 10276158,
   'x': 7092.923025},
  {'label': 'Turkey',
   'continent': 'Europe',
   'y': 71.777,
   'z': 71158647,
   'x': 8458.276384},
  {'label': 'Uganda',
   'continent': 'Africa',
   'y': 51.542,
   'z': 29170398,
   'x': 1056.380121},
  {'label': 'United Kingdom',
   'continent': 'Europe',
   'y': 79.425,
   'z': 60776238,
   'x': 33203.26128},
  {'label': 'United States',
   'continent': 'Americas',
   'y': 78.242,
   'z': 301139947,
   'x': 42951.65309},
  {'label': 'Uruguay',
   'continent': 'Americas',
   'y': 76.384,
   'z': 3447496,
   'x': 10611.46299},
  {'label': 'Venezuela',
   'continent': 'Americas',
   'y': 73.747,
   'z': 26084662,
   'x': 11415.80569},
  {'label': 'Vietnam',
   'continent': 'Asia',
   'y': 74.249,
   'z': 85262356,
   'x': 2441.576404},
  {'label': 'West Bank and Gaza',
   'continent': 'Asia',
   'y': 73.422,
   'z': 4018332,
   'x': 3025.349798},
  {'label': 'Yemen, Rep.',
   'continent': 'Asia',
   'y': 62.698,
   'z': 22211743,
   'x': 2280.769906},
  {'label': 'Zambia',
   'continent': 'Africa',
   'y': 42.384,
   'z': 11746035,
   'x': 1271.211593},
  {'label': 'Zimbabwe',
   'continent': 'Africa',
   'y': 43.487,
   'z': 12311143,
   'x': 469.7092981}],
 'fill': [{'continent': 'Asia', 'fill': '#ce8f6d'},
  {'continent': 'Europe', 'fill': '#edfc4b'},
  {'continent': 'Africa', 'fill': '#9e7dd7'},
  {'continent': 'Americas', 'fill': '#9b7584'},
  {'continent': 'Oceania', 'fill': '#fc34f3'}]}

# Correlogram

* __Reference:__ https://d3-graph-gallery.com/graph/correlogram_basic.html

In [9]:
### Read data from DB

df = pd.read_sql_query('SELECT * FROM correlogram_data_table',disk_engine)


### Parse data for chart

df = df.drop(['index'], axis = 1)
df = df.set_index('label')
df.index.name = None
df_dict = df.to_dict("split")
data_collector = []
for x in df_dict["index"]:
    for y in df_dict["columns"]:
        data_collector.append(
            {"x": x, "y": y, "value": float(df.loc[x, y].round(4))}
        )
response_payload = {"data":data_collector,"fill":None}
response_payload

{'data': [{'x': 'mpg', 'y': 'mpg', 'value': 1.0},
  {'x': 'mpg', 'y': 'cyl', 'value': -0.8522},
  {'x': 'mpg', 'y': 'disp', 'value': -0.8476},
  {'x': 'mpg', 'y': 'hp', 'value': -0.7762},
  {'x': 'mpg', 'y': 'drat', 'value': 0.6812},
  {'x': 'mpg', 'y': 'wt', 'value': -0.8677},
  {'x': 'mpg', 'y': 'qsec', 'value': 0.4187},
  {'x': 'mpg', 'y': 'vs', 'value': 0.664},
  {'x': 'mpg', 'y': 'am', 'value': 0.5998},
  {'x': 'mpg', 'y': 'gear', 'value': 0.4803},
  {'x': 'mpg', 'y': 'carb', 'value': -0.5509},
  {'x': 'cyl', 'y': 'mpg', 'value': -0.8522},
  {'x': 'cyl', 'y': 'cyl', 'value': 1.0},
  {'x': 'cyl', 'y': 'disp', 'value': 0.902},
  {'x': 'cyl', 'y': 'hp', 'value': 0.8324},
  {'x': 'cyl', 'y': 'drat', 'value': -0.6999},
  {'x': 'cyl', 'y': 'wt', 'value': 0.7825},
  {'x': 'cyl', 'y': 'qsec', 'value': -0.5912},
  {'x': 'cyl', 'y': 'vs', 'value': -0.8108},
  {'x': 'cyl', 'y': 'am', 'value': -0.5226},
  {'x': 'cyl', 'y': 'gear', 'value': -0.4927},
  {'x': 'cyl', 'y': 'carb', 'value': 0.527},
  {'x': 'disp', 'y': 'mpg', 'value': -0.8476},
  {'x': 'disp', 'y': 'cyl', 'value': 0.902},
  {'x': 'disp', 'y': 'disp', 'value': 1.0},
  {'x': 'disp', 'y': 'hp', 'value': 0.7909},
  {'x': 'disp', 'y': 'drat', 'value': -0.7102},
  {'x': 'disp', 'y': 'wt', 'value': 0.888},
  {'x': 'disp', 'y': 'qsec', 'value': -0.4337},
  {'x': 'disp', 'y': 'vs', 'value': -0.7104},
  {'x': 'disp', 'y': 'am', 'value': -0.5912},
  {'x': 'disp', 'y': 'gear', 'value': -0.5556},
  {'x': 'disp', 'y': 'carb', 'value': 0.395},
  {'x': 'hp', 'y': 'mpg', 'value': -0.7762},
  {'x': 'hp', 'y': 'cyl', 'value': 0.8324},
  {'x': 'hp', 'y': 'disp', 'value': 0.7909},
  {'x': 'hp', 'y': 'hp', 'value': 1.0},
  {'x': 'hp', 'y': 'drat', 'value': -0.4488},
  {'x': 'hp', 'y': 'wt', 'value': 0.6587},
  {'x': 'hp', 'y': 'qsec', 'value': -0.7082},
  {'x': 'hp', 'y': 'vs', 'value': -0.7231},
  {'x': 'hp', 'y': 'am', 'value': -0.2432},
  {'x': 'hp', 'y': 'gear', 'value': -0.1257},
  {'x': 'hp', 'y': 'carb', 'value': 0.7498},
  {'x': 'drat', 'y': 'mpg', 'value': 0.6812},
  {'x': 'drat', 'y': 'cyl', 'value': -0.6999},
  {'x': 'drat', 'y': 'disp', 'value': -0.7102},
  {'x': 'drat', 'y': 'hp', 'value': -0.4488},
  {'x': 'drat', 'y': 'drat', 'value': 1.0},
  {'x': 'drat', 'y': 'wt', 'value': -0.7124},
  {'x': 'drat', 'y': 'qsec', 'value': 0.0912},
  {'x': 'drat', 'y': 'vs', 'value': 0.4403},
  {'x': 'drat', 'y': 'am', 'value': 0.7127},
  {'x': 'drat', 'y': 'gear', 'value': 0.6996},
  {'x': 'drat', 'y': 'carb', 'value': -0.0908},
  {'x': 'wt', 'y': 'mpg', 'value': -0.8677},
  {'x': 'wt', 'y': 'cyl', 'value': 0.7825},
  {'x': 'wt', 'y': 'disp', 'value': 0.888},
  {'x': 'wt', 'y': 'hp', 'value': 0.6587},
  {'x': 'wt', 'y': 'drat', 'value': -0.7124},
  {'x': 'wt', 'y': 'wt', 'value': 1.0},
  {'x': 'wt', 'y': 'qsec', 'value': -0.1747},
  {'x': 'wt', 'y': 'vs', 'value': -0.5549},
  {'x': 'wt', 'y': 'am', 'value': -0.6925},
  {'x': 'wt', 'y': 'gear', 'value': -0.5833},
  {'x': 'wt', 'y': 'carb', 'value': 0.4276},
  {'x': 'qsec', 'y': 'mpg', 'value': 0.4187},
  {'x': 'qsec', 'y': 'cyl', 'value': -0.5912},
  {'x': 'qsec', 'y': 'disp', 'value': -0.4337},
  {'x': 'qsec', 'y': 'hp', 'value': -0.7082},
  {'x': 'qsec', 'y': 'drat', 'value': 0.0912},
  {'x': 'qsec', 'y': 'wt', 'value': -0.1747},
  {'x': 'qsec', 'y': 'qsec', 'value': 1.0},
  {'x': 'qsec', 'y': 'vs', 'value': 0.7445},
  {'x': 'qsec', 'y': 'am', 'value': -0.2299},
  {'x': 'qsec', 'y': 'gear', 'value': -0.2127},
  {'x': 'qsec', 'y': 'carb', 'value': -0.6562},
  {'x': 'vs', 'y': 'mpg', 'value': 0.664},
  {'x': 'vs', 'y': 'cyl', 'value': -0.8108},
  {'x': 'vs', 'y': 'disp', 'value': -0.7104},
  {'x': 'vs', 'y': 'hp', 'value': -0.7231},
  {'x': 'vs', 'y': 'drat', 'value': 0.4403},
  {'x': 'vs', 'y': 'wt', 'value': -0.5549},
  {'x': 'vs', 'y': 'qsec', 'value': 0.7445},
  {'x': 'vs', 'y': 'vs', 'value': 1.0},
  {'x': 'vs', 'y': 'am', 'value': 0.1683},
  {'x': 'vs', 'y': 'gear', 'value': 0.206},
  {'x': 'vs', 'y': 'carb', 'value': -0.5696},
  {'x': 'am', 'y': 'mpg', 'value': 0.5998},
  {'x': 'am', 'y': 'cyl', 'value': -0.5226},
  {'x': 'am', 'y': 'disp', 'value': -0.5912},
  {'x': 'am', 'y': 'hp', 'value': -0.2432},
  {'x': 'am', 'y': 'drat', 'value': 0.7127},
  {'x': 'am', 'y': 'wt', 'value': -0.6925},
  {'x': 'am', 'y': 'qsec', 'value': -0.2299},
  {'x': 'am', 'y': 'vs', 'value': 0.1683},
  {'x': 'am', 'y': 'am', 'value': 1.0},
  {'x': 'am', 'y': 'gear', 'value': 0.7941},
  {'x': 'am', 'y': 'carb', 'value': 0.0575},
  {'x': 'gear', 'y': 'mpg', 'value': 0.4803},
  {'x': 'gear', 'y': 'cyl', 'value': -0.4927},
  {'x': 'gear', 'y': 'disp', 'value': -0.5556},
  {'x': 'gear', 'y': 'hp', 'value': -0.1257},
  {'x': 'gear', 'y': 'drat', 'value': 0.6996},
  {'x': 'gear', 'y': 'wt', 'value': -0.5833},
  {'x': 'gear', 'y': 'qsec', 'value': -0.2127},
  {'x': 'gear', 'y': 'vs', 'value': 0.206},
  {'x': 'gear', 'y': 'am', 'value': 0.7941},
  {'x': 'gear', 'y': 'gear', 'value': 1.0},
  {'x': 'gear', 'y': 'carb', 'value': 0.2741},
  {'x': 'carb', 'y': 'mpg', 'value': -0.5509},
  {'x': 'carb', 'y': 'cyl', 'value': 0.527},
  {'x': 'carb', 'y': 'disp', 'value': 0.395},
  {'x': 'carb', 'y': 'hp', 'value': 0.7498},
  {'x': 'carb', 'y': 'drat', 'value': -0.0908},
  {'x': 'carb', 'y': 'wt', 'value': 0.4276},
  {'x': 'carb', 'y': 'qsec', 'value': -0.6562},
  {'x': 'carb', 'y': 'vs', 'value': -0.5696},
  {'x': 'carb', 'y': 'am', 'value': 0.0575},
  {'x': 'carb', 'y': 'gear', 'value': 0.2741},
  {'x': 'carb', 'y': 'carb', 'value': 1.0}],
 'fill': None}

# Histogram


* __Reference:__ https://codesandbox.io/s/new-field-u5oze

In [10]:
### Generate data

step=50
s = pd.Series(np.random.uniform(0, 1000, size=1000)) # This is the data
bin_range = np.arange(-200, 1000 + step, step)
out, bins = pd.cut(
    s, bins=bin_range, include_lowest=True, right=False, retbins=True
)
df = (
    out.value_counts()
    .to_frame()
    .reset_index()
    .rename(columns={"index": "name", 0: "freq"})
)
x_col = []
for x in df["name"]:
    x_col.append(x.mid)
df["name"] = df["name"].astype(str)
df["name"] = df["name"].str.replace("\[", "", regex=True)
df["name"] = df["name"].str.replace("\)", "", regex=True)
df["name"] = df["name"].str.replace("\,", " -", regex=True)
df["value"] = x_col
df = df.rename(columns={"name": "label"})

### Parse data for chart



response_payload = {"data":df.to_dict("records"),"fill":col_gen()}
response_payload

{'data': [{'label': '100 - 150', 'freq': 64, 'value': 125.0},
  {'label': '650 - 700', 'freq': 63, 'value': 675.0},
  {'label': '200 - 250', 'freq': 56, 'value': 225.0},
  {'label': '850 - 900', 'freq': 54, 'value': 875.0},
  {'label': '550 - 600', 'freq': 54, 'value': 575.0},
  {'label': '50 - 100', 'freq': 54, 'value': 75.0},
  {'label': '750 - 800', 'freq': 52, 'value': 775.0},
  {'label': '600 - 650', 'freq': 52, 'value': 625.0},
  {'label': '450 - 500', 'freq': 52, 'value': 475.0},
  {'label': '700 - 750', 'freq': 50, 'value': 725.0},
  {'label': '250 - 300', 'freq': 48, 'value': 275.0},
  {'label': '150 - 200', 'freq': 48, 'value': 175.0},
  {'label': '0 - 50', 'freq': 47, 'value': 25.0},
  {'label': '350 - 400', 'freq': 46, 'value': 375.0},
  {'label': '300 - 350', 'freq': 46, 'value': 325.0},
  {'label': '500 - 550', 'freq': 46, 'value': 525.0},
  {'label': '400 - 450', 'freq': 46, 'value': 425.0},
  {'label': '800 - 850', 'freq': 44, 'value': 825.0},
  {'label': '950 - 1000', 'freq': 40, 'value': 975.0},
  {'label': '900 - 950', 'freq': 38, 'value': 925.0},
  {'label': '-150 - -100', 'freq': 0, 'value': -125.0},
  {'label': '-50 - 0', 'freq': 0, 'value': -25.0},
  {'label': '-100 - -50', 'freq': 0, 'value': -75.0},
  {'label': '-200 - -150', 'freq': 0, 'value': -175.0}],
 'fill': '#127820'}

# Waterfall chart


* __Reference:__ https://codesandbox.io/s/new-field-u5oze

In [11]:
def random_dates(
    start=pd.to_datetime("2015-01-01"),
    end=pd.to_datetime("2018-01-01"),
    unit="D",
    seed=None,
):
    n = random.randint(4, 12)
    if not seed:  # from piR's answer
        np.random.seed(0)
    ndays = (end - start).days + 1
    return pd.to_timedelta(np.random.rand(n) * ndays, unit=unit) + start


def _waterfall_payload_generator():
    dates_list = (
        pd.Series(random_dates().sort_values())
        .dt.to_period("M")
        .drop_duplicates()
        .astype(str)
        .tolist()
    )
    old_list = [{"uv": float(np.random.uniform(2700, 4500, 1)), "pv": 0}]
    for index in range(1, len(dates_list)):
        old_list.append(
            {
                "uv": old_list[index - 1]["uv"] + old_list[index - 1]["pv"],
                "pv": float(np.random.uniform(-500, 500, 1)),
            }
        )
    old_list[len(dates_list) - 1]["pv"] = 0
    df = pd.DataFrame(old_list)
    df["date"] = dates_list
    df = df.round(2)
    df["date"] = df["date"].astype(str)
    df = df.rename(columns = {'date':'label'})
    df.loc[df['label'] ==df['label'].max(),'label'] = 'total'
    return df.to_dict("records")


response_payload = {"data":_waterfall_payload_generator(),"fill":None}
response_payload

{'data': [{'uv': 3652.01, 'pv': 0.0, 'label': '2016-02'},
  {'uv': 3652.01, 'pv': 68.04, 'label': '2016-04'},
  {'uv': 3720.06, 'pv': 425.6, 'label': '2016-08'},
  {'uv': 4145.65, 'pv': -428.96, 'label': '2016-10'},
  {'uv': 3716.69, 'pv': -412.87, 'label': '2016-12'},
  {'uv': 3303.82, 'pv': -479.78, 'label': '2017-02'},
  {'uv': 2824.04, 'pv': 332.62, 'label': '2017-05'},
  {'uv': 3156.66, 'pv': 278.16, 'label': '2017-09'},
  {'uv': 3434.81, 'pv': 0.0, 'label': 'total'}],
 'fill': None}