In [65]:
import pandas as pd
import names
# payload = [
#   { "name": "A", "x": 12, "y": 23, "z": 122 },
#   { "name": "B", "x": 22, "y": 3, "z": 73 },
#   { "name": "C", "x": 13, "y": 15, "z": 32 },
#   { "name": "D", "x": 44, "y": 35, "z": 23 },
#   { "name": "E", "x": 35, "y": 45, "z": 20 },
#   { "name": "F", "x": 62, "y": 25, "z": 29 },
#   { "name": "G", "x": 37, "y": 17, "z": 61 },
#   { "name": "H", "x": 28, "y": 32, "z": 45 },
#   { "name": "I", "x": 19, "y": 43, "z": 93 }
# ]

In [66]:
# df = pd.DataFrame(payload)

In [67]:
# df

In [68]:
# df.to_dict('records')

In [73]:
import random
import numpy as np
import pandas as pd
import names


def _clamp(x):
    return max(0, min(x, 255))

def col_gen():
    return "#{0:02x}{1:02x}{2:02x}".format(_clamp(random.randint(10, 255)), _clamp(random.randint(10, 255)), _clamp(random.randint(10, 255)),)

def _bar_payload_generator(type = "pct"):
    # type = "pct" or "abs"
    label_len = random.randint(1, 10)
    x_max = random.randint(1, 100)
    y_max = random.randint(1, 100)
    df = pd.DataFrame({"label":[names.get_full_name() for _ in range(label_len)], "X":np.random.uniform(0, x_max, label_len), "Y":np.random.uniform(0, y_max, label_len)})
    colors = [col_gen() for _ in range(df.shape[1] - 1)]
    df_cols = df.columns.tolist()
    df_cols.remove('label')
    df['pct_X'] = df['X']/df[['X', 'Y']].sum(1)
    df['pct_Y'] = df['Y']/df[['X', 'Y']].sum(1)
    df = df.round(2)
    colors_df = pd.DataFrame({"label": df_cols, "fill":colors})
    if type == "pct":
        df_cols = ["pct_"+ col for col in df_cols]
        colors_df = pd.DataFrame({"label": df_cols, "fill":colors})
        return {"data":df[['pct_X', 'pct_Y']].to_dict('records'), "fill":colors_df.to_dict('records'),"value_type":type,"chart_type":"bar"}
    if type == "abs":
        return {"data":df[['X', 'Y']].to_dict('records'), "fill":colors_df.to_dict('records'),"value_type":type,"chart_type":"bar"}

def _donut_payload_generator(type = "pct"):
    label_len = random.randint(1, 10)
    x_max = random.randint(1, 100)
    df = pd.DataFrame({"label":[names.get_full_name() for _ in range(label_len)], "value":np.random.uniform(0, x_max, label_len)})
    if type == "pct":
        df['value'] = df['value']/df['value'].sum()
    df = df.round(2)
    colors = [col_gen() for _ in range(df['label'].size)]
    colors_df = pd.DataFrame({"label": df['label'].tolist(), "fill":colors})
    return {"data":df.to_dict('records'), "fill":colors_df.to_dict('records'),"value_type":type,"chart_type":"donut"}

def _line_payload_generator():
    label_len = random.randint(1, 10)
    x_max = random.randint(1, 100)
    y_max = random.randint(1, 100)
    df = pd.DataFrame({"label":[names.get_full_name() for _ in range(label_len)], "X":np.random.uniform(0, x_max, label_len), "Y":np.random.uniform(0, y_max, label_len)})
    df = df.round(2)
    colors = [col_gen() for _ in range(df.shape[1] - 1)]
    df_cols = df.columns.tolist()
    df_cols.remove('label')
    colors_df = pd.DataFrame({"label": df_cols, "fill":colors})
    return {"data":df.to_dict('records'), "fill":colors_df.to_dict('records'), "value_type":"abs","chart_type":"line"}

In [81]:
_bar_payload_generator()

{'data': [{'pct_X': 0.87, 'pct_Y': 0.13}],
 'fill': [{'label': 'pct_X', 'fill': '#693683'},
  {'label': 'pct_Y', 'fill': '#7b8afe'}],
 'value_type': 'pct',
 'chart_type': 'bar'}

In [82]:

_donut_payload_generator()

{'data': [{'label': 'Luis Morgan', 'value': 1.0}],
 'fill': [{'label': 'Luis Morgan', 'fill': '#a0411e'}],
 'value_type': 'pct',
 'chart_type': 'donut'}

In [83]:
_line_payload_generator()

{'data': [{'label': 'Maureen Cullen', 'X': 7.95, 'Y': 27.42},
  {'label': 'Adrian Madison', 'X': 21.76, 'Y': 38.51},
  {'label': 'Joshua Wilcoxen', 'X': 21.72, 'Y': 39.11},
  {'label': 'Joe Grantham', 'X': 21.33, 'Y': 48.28},
  {'label': 'Janae Brown', 'X': 2.99, 'Y': 10.49},
  {'label': 'Paul Fulford', 'X': 8.8, 'Y': 38.8},
  {'label': 'John Newman', 'X': 23.24, 'Y': 50.6}],
 'fill': [{'label': 'X', 'fill': '#d05dde'},
  {'label': 'Y', 'fill': '#5ca3ff'}],
 'value_type': 'abs',
 'chart_type': 'line'}

In [84]:
raw_data = [
{ "bin": "1", "name": "1 - 2", "freq": 6 },
{ "bin": "2", "name": "2 - 3", "freq": 24 },
{ "bin": "3", "name": "3 - 4", "freq": 20 },
{ "bin": "4", "name": "4 - 5", "freq": 42 },
{ "bin": "5", "name": "5 - 6", "freq": 20 }
]

In [8]:
import pandas as pd

data = {'ind': ['prior110', 'prior113', 'prior118', 'prior141', 'prior144', 'prior16', 'prior217', 'prior223', 'prior245', 'prior29', 'prior352', 'prior360', 'prior370', 'prior438', 'prior55', 'prior59', 'prior60', 'prior68', 'prior74', 'prior88'],
        'val': [13.96217, 10.861125, 21.304131, 11.309109, 11.363863, 14.479841, 10.403186, 14.201095, 7.974116, 17.401692, 9.860627, 12.339472, 16.207068, 16.381284, 20.587357, 10.452962, 15.828771, 16.769537, 16.918865, 9.805874]}

prior_fails = pd.DataFrame(data, columns=['ind', 'val'])

prior_fails.set_index('ind', inplace=True)

prior_fails

                val
ind
prior110  13.962170
prior113  10.861125
prior118  21.304131
prior141  11.309109
prior144  11.363863
prior16   14.479841
prior217  10.403186
prior223  14.201095
prior245   7.974116
prior29   17.401692
prior352   9.860627
prior360  12.339472
prior370  16.207068
prior438  16.381284
prior55   20.587357
prior59   10.452962
prior60   15.828771
prior68   16.769537
prior74   16.918865
prior88    9.805874

In [11]:
count, division = np.histogram(prior_fails['val'])

In [12]:
count

array([1, 4, 3, 1, 3, 1, 4, 1, 0, 2])

In [110]:


def hist_payload_generate(s, step = 50):
    bin_range = np.arange(-200, 1000+step, step)
    out, bins  = pd.cut(s, bins=bin_range, include_lowest=True, right=False, retbins=True)
    df = out.value_counts().to_frame().reset_index().rename(columns= {'index':'name', 0:'freq'})
    x_col = []
    for x in df['name']:
        x_col.append(x.mid)
    df['name'] = df['name'].astype(str)
    df['name'] = df['name'].str.replace('\[', '',regex = True)
    df['name'] = df['name'].str.replace('\)', '',regex = True)
    df['name'] = df['name'].str.replace('\,', ' -',regex = True)
    df['value'] = x_col
    df = df.rename(columns = {"name":"label"})
    return df.to_dict('records')

In [111]:
s = pd.Series([0.0,950.0,-70.0,812.0,0.0,-90.0,0.0,0.0,-90.0,0.0,-64.0,208.0,0.0,-90.0,0.0,-80.0,0.0,0.0,-80.0,-48.0,840.0,-100.0,190.0,130.0,-100.0,-100.0,0.0,-50.0,0.0,-100.0,-100.0,0.0,-90.0,0.0,-90.0,-90.0,63.0,-90.0,0.0,0.0,-90.0,-80.0,0.0,])

df = _get_hist(s)

In [7]:
import pandas as pd
import numpy as np

def _scatter_payload_generator():
    x = np.linspace(0,10)
    y = np.random.uniform(0, 100, x.size)
    df = pd.DataFrame({"x": x,"y":   y }).round(2).to_dict("records")
    colors_df = pd.DataFrame({"x":col_gen(),"y":col_gen()}).to_dict("records")
    return {
        "data": df.to_dict("records"),
        "fill": colors_df.to_dict("records"),
        "value_type": "abs",
        "chart_type": "scatter",
    }

[{'x': 0.0, 'y': 0.0},
 {'x': 0.2, 'y': 0.01},
 {'x': 0.41, 'y': 0.06},
 {'x': 0.61, 'y': 0.12},
 {'x': 0.82, 'y': 0.22},
 {'x': 1.02, 'y': 0.35},
 {'x': 1.22, 'y': 0.5},
 {'x': 1.43, 'y': 0.68},
 {'x': 1.63, 'y': 0.89},
 {'x': 1.84, 'y': 1.12},
 {'x': 2.04, 'y': 1.39},
 {'x': 2.24, 'y': 1.68},
 {'x': 2.45, 'y': 2.0},
 {'x': 2.65, 'y': 2.35},
 {'x': 2.86, 'y': 2.72},
 {'x': 3.06, 'y': 3.12},
 {'x': 3.27, 'y': 3.55},
 {'x': 3.47, 'y': 4.01},
 {'x': 3.67, 'y': 4.5},
 {'x': 3.88, 'y': 5.01},
 {'x': 4.08, 'y': 5.55},
 {'x': 4.29, 'y': 6.12},
 {'x': 4.49, 'y': 6.72},
 {'x': 4.69, 'y': 7.34},
 {'x': 4.9, 'y': 8.0},
 {'x': 5.1, 'y': 8.68},
 {'x': 5.31, 'y': 9.38},
 {'x': 5.51, 'y': 10.12},
 {'x': 5.71, 'y': 10.88},
 {'x': 5.92, 'y': 11.68},
 {'x': 6.12, 'y': 12.49},
 {'x': 6.33, 'y': 13.34},
 {'x': 6.53, 'y': 14.22},
 {'x': 6.73, 'y': 15.12},
 {'x': 6.94, 'y': 16.05},
 {'x': 7.14, 'y': 17.01},
 {'x': 7.35, 'y': 17.99},
 {'x': 7.55, 'y': 19.01},
 {'x': 7.76, 'y': 20.05},
 {'x': 7.96, 'y': 21.12},
 {'x': 8.16, 'y': 22.21},
 {'x': 8.37, 'y': 23.34},
 {'x': 8.57, 'y': 24.49},
 {'x': 8.78, 'y': 25.67},
 {'x': 8.98, 'y': 26.88},
 {'x': 9.18, 'y': 28.11},
 {'x': 9.39, 'y': 29.38},
 {'x': 9.59, 'y': 30.67},
 {'x': 9.8, 'y': 31.99},
 {'x': 10.0, 'y': 33.33}]

In [70]:
s

0       0.0
1     950.0
2     -70.0
3     812.0
4       0.0
5     -90.0
6       0.0
7       0.0
8     -90.0
9       0.0
10    -64.0
11    208.0
12      0.0
13    -90.0
14      0.0
15    -80.0
16      0.0
17      0.0
18    -80.0
19    -48.0
20    840.0
21   -100.0
22    190.0
23    130.0
24   -100.0
25   -100.0
26      0.0
27    -50.0
28      0.0
29   -100.0
30   -100.0
31      0.0
32    -90.0
33      0.0
34    -90.0
35    -90.0
36     63.0
37    -90.0
38      0.0
39      0.0
40    -90.0
41    -80.0
42      0.0
dtype: float64

In [ ]:
[
  {
    name: "01/2020",
    uv: 2400, // uv is the part of the graph we want to show
    pv: 0 // pv is the floating part (transparent)
  },
  {
    name: "02/2020",
    uv: -400,
    pv: 2400 // to get this pv, we use 01/2020's uv + pv
  },
  {
    name: "03/2020",
    uv: -400,
    pv: 2000 // use 02/2020's uv + pv, and so forth
  },
  {
    name: "04/2020",
    uv: 800,
    pv: 1600
  },
  {
    name: "05/2020",
    uv: 900,
    pv: 2400
  },
  {
    name: "06/2020",
    uv: -500,
    pv: 3300
  },
  {
    name: "07/2020",
    uv: 900,
    pv: 2800
  },
  {
    name: "Total",
    uv: 3700,
    pv: 0
  }
]

In [20]:
import random
import pandas as pd
import numpy as np

In [61]:
def random_dates(start = pd.to_datetime('2015-01-01'), end = pd.to_datetime('2018-01-01'), unit='D', seed=None):
    n = random.randint(4,12)
    if not seed:  # from piR's answer
        np.random.seed(0)
    ndays = (end - start).days + 1
    return pd.to_timedelta(np.random.rand(n) * ndays, unit=unit) + start

In [74]:


dates_list = pd.Series(random_dates().sort_values()).dt.to_period('M').drop_duplicates().astype(str).tolist()
old_list = [{"uv": float(np.random.uniform(2700, 4500, 1)), "pv": 0}]
for index in range(1, len(dates_list)):
    old_list.append({"uv":old_list[index-1]["uv"] + old_list[index-1]["pv"],"pv":float(np.random.uniform(-500,500,1))})
old_list[len(dates_list)-1]['pv'] = 0
df = pd.DataFrame(old_list)
df['date'] = dates_list

In [75]:
df

            uv          pv     date
0  3652.010856    0.000000  2016-02
1  3652.010856   68.044561  2016-04
2  3720.055417  425.596638  2016-08
3  4145.652055 -428.963942  2016-10
4  3716.688113 -412.870700  2016-12
5  3303.817413 -479.781603  2017-02
6  2824.035810  332.619846  2017-05
7  3156.655656  278.156751  2017-09
8  3434.812407    0.000000  2017-11

In [ ]:
"https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/4_ThreeNum.csv"