In [65]:
import pandas as pd
import names
# payload = [
#   { "name": "A", "x": 12, "y": 23, "z": 122 },
#   { "name": "B", "x": 22, "y": 3, "z": 73 },
#   { "name": "C", "x": 13, "y": 15, "z": 32 },
#   { "name": "D", "x": 44, "y": 35, "z": 23 },
#   { "name": "E", "x": 35, "y": 45, "z": 20 },
#   { "name": "F", "x": 62, "y": 25, "z": 29 },
#   { "name": "G", "x": 37, "y": 17, "z": 61 },
#   { "name": "H", "x": 28, "y": 32, "z": 45 },
#   { "name": "I", "x": 19, "y": 43, "z": 93 }
# ]

In [66]:
# df = pd.DataFrame(payload)

In [67]:
# df

In [68]:
# df.to_dict('records')

In [79]:
import random
import numpy as np
import pandas as pd
import names


def _clamp(x):
    return max(0, min(x, 255))

def col_gen():
    return "#{0:02x}{1:02x}{2:02x}".format(_clamp(random.randint(10, 255)), _clamp(random.randint(10, 255)), _clamp(random.randint(10, 255)),)

def _bar_payload_generator(type = "pct"):
    # type = "pct" or "abs"
    label_len = random.randint(1, 10)
    x_max = random.randint(1, 100)
    y_max = random.randint(1, 100)
    df = pd.DataFrame({"label":[names.get_full_name() for _ in range(label_len)], "X":np.random.uniform(0, x_max, label_len), "Y":np.random.uniform(0, y_max, label_len)})
    colors = [col_gen() for _ in range(df.shape[1] - 1)]
    df_cols = df.columns.tolist()
    df_cols.remove('label')
    df['pct_X'] = df['X']/df[['X', 'Y']].sum(1)
    df['pct_Y'] = df['Y']/df[['X', 'Y']].sum(1)
    df = df.round(2)
    colors_df = pd.DataFrame({"label": df_cols, "fill":colors})
    if type == "pct":
        df_cols = ["pct_"+ col for col in df_cols]
        colors_df = pd.DataFrame({"label": df_cols, "fill":colors})
        return {"data":df[['pct_X', 'pct_Y']].to_dict('records'), "fill":colors_df.to_dict('records'),"value_type":type,"chart_type":"bar"}
    if type == "abs":
        return {"data":df[['X', 'Y']].to_dict('records'), "fill":colors_df.to_dict('records'),"value_type":type,"chart_type":"bar"}

def _donut_payload_generator(type = "pct"):
    label_len = random.randint(1, 10)
    x_max = random.randint(1, 100)
    df = pd.DataFrame({"label":[names.get_full_name() for _ in range(label_len)], "value":np.random.uniform(0, x_max, label_len)})
    if type == "pct":
        df['value'] = df['value']/df['value'].sum()
    df = df.round(2)
    colors = [col_gen() for _ in range(df['label'].size)]
    colors_df = pd.DataFrame({"label": df['label'].tolist(), "fill":colors})
    return {"data":df.to_dict('records'), "fill":colors_df.to_dict('records'),"value_type":type,"chart_type":"donut"}

def _line_payload_generator():
    label_len = random.randint(1, 10)
    x_max = random.randint(1, 100)
    y_max = random.randint(1, 100)
    df = pd.DataFrame({"label":[names.get_full_name() for _ in range(label_len)], "X":np.random.uniform(0, x_max, label_len), "Y":np.random.uniform(0, y_max, label_len)})
    df = df.round(2)
    colors = [col_gen() for _ in range(df.shape[1] - 1)]
    df_cols = df.columns.tolist()
    df_cols.remove('label')
    colors_df = pd.DataFrame({"label": df_cols, "fill":colors})
    return {"data":df.to_dict('records'), "fill":colors_df.to_dict('records'), "value_type":"abs","chart_type":"line"}

In [80]:
_bar_payload_generator()

{'data': [{'pct_X': 0.68, 'pct_Y': 0.32},
  {'pct_X': 0.21, 'pct_Y': 0.79},
  {'pct_X': 0.21, 'pct_Y': 0.79},
  {'pct_X': 0.37, 'pct_Y': 0.63},
  {'pct_X': 0.12, 'pct_Y': 0.88},
  {'pct_X': 0.2, 'pct_Y': 0.8}],
 'fill': [{'label': 'pct_X', 'fill': '#8af454'},
  {'label': 'pct_Y', 'fill': '#459a9d'}],
 'value_type': 'pct',
 'chart_type': 'bar'}

In [82]:

_donut_payload_generator()

{'data': [{'label': 'Luis Morgan', 'value': 1.0}],
 'fill': [{'label': 'Luis Morgan', 'fill': '#a0411e'}],
 'value_type': 'pct',
 'chart_type': 'donut'}

In [83]:
_line_payload_generator()

{'data': [{'label': 'Maureen Cullen', 'X': 7.95, 'Y': 27.42},
  {'label': 'Adrian Madison', 'X': 21.76, 'Y': 38.51},
  {'label': 'Joshua Wilcoxen', 'X': 21.72, 'Y': 39.11},
  {'label': 'Joe Grantham', 'X': 21.33, 'Y': 48.28},
  {'label': 'Janae Brown', 'X': 2.99, 'Y': 10.49},
  {'label': 'Paul Fulford', 'X': 8.8, 'Y': 38.8},
  {'label': 'John Newman', 'X': 23.24, 'Y': 50.6}],
 'fill': [{'label': 'X', 'fill': '#d05dde'},
  {'label': 'Y', 'fill': '#5ca3ff'}],
 'value_type': 'abs',
 'chart_type': 'line'}

In [84]:
raw_data = [
{ "bin": "1", "name": "1 - 2", "freq": 6 },
{ "bin": "2", "name": "2 - 3", "freq": 24 },
{ "bin": "3", "name": "3 - 4", "freq": 20 },
{ "bin": "4", "name": "4 - 5", "freq": 42 },
{ "bin": "5", "name": "5 - 6", "freq": 20 }
]

In [8]:
import pandas as pd

data = {'ind': ['prior110', 'prior113', 'prior118', 'prior141', 'prior144', 'prior16', 'prior217', 'prior223', 'prior245', 'prior29', 'prior352', 'prior360', 'prior370', 'prior438', 'prior55', 'prior59', 'prior60', 'prior68', 'prior74', 'prior88'],
        'val': [13.96217, 10.861125, 21.304131, 11.309109, 11.363863, 14.479841, 10.403186, 14.201095, 7.974116, 17.401692, 9.860627, 12.339472, 16.207068, 16.381284, 20.587357, 10.452962, 15.828771, 16.769537, 16.918865, 9.805874]}

prior_fails = pd.DataFrame(data, columns=['ind', 'val'])

prior_fails.set_index('ind', inplace=True)

prior_fails

                val
ind
prior110  13.962170
prior113  10.861125
prior118  21.304131
prior141  11.309109
prior144  11.363863
prior16   14.479841
prior217  10.403186
prior223  14.201095
prior245   7.974116
prior29   17.401692
prior352   9.860627
prior360  12.339472
prior370  16.207068
prior438  16.381284
prior55   20.587357
prior59   10.452962
prior60   15.828771
prior68   16.769537
prior74   16.918865
prior88    9.805874

In [11]:
count, division = np.histogram(prior_fails['val'])

In [12]:
count

array([1, 4, 3, 1, 3, 1, 4, 1, 0, 2])

In [110]:


def hist_payload_generate(s, step = 50):
    bin_range = np.arange(-200, 1000+step, step)
    out, bins  = pd.cut(s, bins=bin_range, include_lowest=True, right=False, retbins=True)
    df = out.value_counts().to_frame().reset_index().rename(columns= {'index':'name', 0:'freq'})
    x_col = []
    for x in df['name']:
        x_col.append(x.mid)
    df['name'] = df['name'].astype(str)
    df['name'] = df['name'].str.replace('\[', '',regex = True)
    df['name'] = df['name'].str.replace('\)', '',regex = True)
    df['name'] = df['name'].str.replace('\,', ' -',regex = True)
    df['value'] = x_col
    df = df.rename(columns = {"name":"label"})
    return df.to_dict('records')

In [111]:
s = pd.Series([0.0,950.0,-70.0,812.0,0.0,-90.0,0.0,0.0,-90.0,0.0,-64.0,208.0,0.0,-90.0,0.0,-80.0,0.0,0.0,-80.0,-48.0,840.0,-100.0,190.0,130.0,-100.0,-100.0,0.0,-50.0,0.0,-100.0,-100.0,0.0,-90.0,0.0,-90.0,-90.0,63.0,-90.0,0.0,0.0,-90.0,-80.0,0.0,])

df = _get_hist(s)

In [7]:
import pandas as pd
import numpy as np

def _scatter_payload_generator():
    x = np.linspace(0,10)
    y = np.random.uniform(0, 100, x.size)
    df = pd.DataFrame({"x": x,"y":   y }).round(2).to_dict("records")
    colors_df = pd.DataFrame({"x":col_gen(),"y":col_gen()}).to_dict("records")
    return {
        "data": df.to_dict("records"),
        "fill": colors_df.to_dict("records"),
        "value_type": "abs",
        "chart_type": "scatter",
    }

[{'x': 0.0, 'y': 0.0},
 {'x': 0.2, 'y': 0.01},
 {'x': 0.41, 'y': 0.06},
 {'x': 0.61, 'y': 0.12},
 {'x': 0.82, 'y': 0.22},
 {'x': 1.02, 'y': 0.35},
 {'x': 1.22, 'y': 0.5},
 {'x': 1.43, 'y': 0.68},
 {'x': 1.63, 'y': 0.89},
 {'x': 1.84, 'y': 1.12},
 {'x': 2.04, 'y': 1.39},
 {'x': 2.24, 'y': 1.68},
 {'x': 2.45, 'y': 2.0},
 {'x': 2.65, 'y': 2.35},
 {'x': 2.86, 'y': 2.72},
 {'x': 3.06, 'y': 3.12},
 {'x': 3.27, 'y': 3.55},
 {'x': 3.47, 'y': 4.01},
 {'x': 3.67, 'y': 4.5},
 {'x': 3.88, 'y': 5.01},
 {'x': 4.08, 'y': 5.55},
 {'x': 4.29, 'y': 6.12},
 {'x': 4.49, 'y': 6.72},
 {'x': 4.69, 'y': 7.34},
 {'x': 4.9, 'y': 8.0},
 {'x': 5.1, 'y': 8.68},
 {'x': 5.31, 'y': 9.38},
 {'x': 5.51, 'y': 10.12},
 {'x': 5.71, 'y': 10.88},
 {'x': 5.92, 'y': 11.68},
 {'x': 6.12, 'y': 12.49},
 {'x': 6.33, 'y': 13.34},
 {'x': 6.53, 'y': 14.22},
 {'x': 6.73, 'y': 15.12},
 {'x': 6.94, 'y': 16.05},
 {'x': 7.14, 'y': 17.01},
 {'x': 7.35, 'y': 17.99},
 {'x': 7.55, 'y': 19.01},
 {'x': 7.76, 'y': 20.05},
 {'x': 7.96, 'y': 21.12},
 {'x': 8.16, 'y': 22.21},
 {'x': 8.37, 'y': 23.34},
 {'x': 8.57, 'y': 24.49},
 {'x': 8.78, 'y': 25.67},
 {'x': 8.98, 'y': 26.88},
 {'x': 9.18, 'y': 28.11},
 {'x': 9.39, 'y': 29.38},
 {'x': 9.59, 'y': 30.67},
 {'x': 9.8, 'y': 31.99},
 {'x': 10.0, 'y': 33.33}]

In [70]:
s

0       0.0
1     950.0
2     -70.0
3     812.0
4       0.0
5     -90.0
6       0.0
7       0.0
8     -90.0
9       0.0
10    -64.0
11    208.0
12      0.0
13    -90.0
14      0.0
15    -80.0
16      0.0
17      0.0
18    -80.0
19    -48.0
20    840.0
21   -100.0
22    190.0
23    130.0
24   -100.0
25   -100.0
26      0.0
27    -50.0
28      0.0
29   -100.0
30   -100.0
31      0.0
32    -90.0
33      0.0
34    -90.0
35    -90.0
36     63.0
37    -90.0
38      0.0
39      0.0
40    -90.0
41    -80.0
42      0.0
dtype: float64

In [ ]:
[
  {
    name: "01/2020",
    uv: 2400, // uv is the part of the graph we want to show
    pv: 0 // pv is the floating part (transparent)
  },
  {
    name: "02/2020",
    uv: -400,
    pv: 2400 // to get this pv, we use 01/2020's uv + pv
  },
  {
    name: "03/2020",
    uv: -400,
    pv: 2000 // use 02/2020's uv + pv, and so forth
  },
  {
    name: "04/2020",
    uv: 800,
    pv: 1600
  },
  {
    name: "05/2020",
    uv: 900,
    pv: 2400
  },
  {
    name: "06/2020",
    uv: -500,
    pv: 3300
  },
  {
    name: "07/2020",
    uv: 900,
    pv: 2800
  },
  {
    name: "Total",
    uv: 3700,
    pv: 0
  }
]

In [20]:
import random
import pandas as pd
import numpy as np

In [61]:
def random_dates(start = pd.to_datetime('2015-01-01'), end = pd.to_datetime('2018-01-01'), unit='D', seed=None):
    n = random.randint(4,12)
    if not seed:  # from piR's answer
        np.random.seed(0)
    ndays = (end - start).days + 1
    return pd.to_timedelta(np.random.rand(n) * ndays, unit=unit) + start

In [74]:


dates_list = pd.Series(random_dates().sort_values()).dt.to_period('M').drop_duplicates().astype(str).tolist()
old_list = [{"uv": float(np.random.uniform(2700, 4500, 1)), "pv": 0}]
for index in range(1, len(dates_list)):
    old_list.append({"uv":old_list[index-1]["uv"] + old_list[index-1]["pv"],"pv":float(np.random.uniform(-500,500,1))})
old_list[len(dates_list)-1]['pv'] = 0
df = pd.DataFrame(old_list)
df['date'] = dates_list

In [75]:
df

            uv          pv     date
0  3652.010856    0.000000  2016-02
1  3652.010856   68.044561  2016-04
2  3720.055417  425.596638  2016-08
3  4145.652055 -428.963942  2016-10
4  3716.688113 -412.870700  2016-12
5  3303.817413 -479.781603  2017-02
6  2824.035810  332.619846  2017-05
7  3156.655656  278.156751  2017-09
8  3434.812407    0.000000  2017-11

In [78]:
[
        {name:'A', x:12, y:23,  z:122},
        {name:'B', x:22, y:3,   z:73},
        {name:'C', x:13, y:15,  z:32},
        {name:'D', x:42, y:35,  z:23},
        {name:'E', x:51, y:45,  z:20},
        {name:'F', x:16, y:25,  z:29},
        {name:'G', x:17, y:17,  z:61},
        {name:'H', x:81, y:32,  z:45},
        {name:'I', x:19, y:43,  z:93},
    ]

[{'country': 'Afghanistan',
  'continent': 'Asia',
  'lifeExp': 43.828,
  'pop': 31889923,
  'gdpPercap': 974.5803384},
 {'country': 'Albania',
  'continent': 'Europe',
  'lifeExp': 76.423,
  'pop': 3600523,
  'gdpPercap': 5937.029526},
 {'country': 'Algeria',
  'continent': 'Africa',
  'lifeExp': 72.301,
  'pop': 33333216,
  'gdpPercap': 6223.367465},
 {'country': 'Angola',
  'continent': 'Africa',
  'lifeExp': 42.731,
  'pop': 12420476,
  'gdpPercap': 4797.231267},
 {'country': 'Argentina',
  'continent': 'Americas',
  'lifeExp': 75.32,
  'pop': 40301927,
  'gdpPercap': 12779.37964},
 {'country': 'Australia',
  'continent': 'Oceania',
  'lifeExp': 81.235,
  'pop': 20434176,
  'gdpPercap': 34435.36744},
 {'country': 'Austria',
  'continent': 'Europe',
  'lifeExp': 79.829,
  'pop': 8199783,
  'gdpPercap': 36126.4927},
 {'country': 'Bahrain',
  'continent': 'Asia',
  'lifeExp': 75.635,
  'pop': 708573,
  'gdpPercap': 29796.04834},
 {'country': 'Bangladesh',
  'continent': 'Asia',
  'lifeExp': 64.062,
  'pop': 150448339,
  'gdpPercap': 1391.253792},
 {'country': 'Belgium',
  'continent': 'Europe',
  'lifeExp': 79.441,
  'pop': 10392226,
  'gdpPercap': 33692.60508},
 {'country': 'Benin',
  'continent': 'Africa',
  'lifeExp': 56.728,
  'pop': 8078314,
  'gdpPercap': 1441.284873},
 {'country': 'Bolivia',
  'continent': 'Americas',
  'lifeExp': 65.554,
  'pop': 9119152,
  'gdpPercap': 3822.137084},
 {'country': 'Bosnia and Herzegovina',
  'continent': 'Europe',
  'lifeExp': 74.852,
  'pop': 4552198,
  'gdpPercap': 7446.298803},
 {'country': 'Botswana',
  'continent': 'Africa',
  'lifeExp': 50.728,
  'pop': 1639131,
  'gdpPercap': 12569.85177},
 {'country': 'Brazil',
  'continent': 'Americas',
  'lifeExp': 72.39,
  'pop': 190010647,
  'gdpPercap': 9065.800825},
 {'country': 'Bulgaria',
  'continent': 'Europe',
  'lifeExp': 73.005,
  'pop': 7322858,
  'gdpPercap': 10680.79282},
 {'country': 'Burkina Faso',
  'continent': 'Africa',
  'lifeExp': 52.295,
  'pop': 14326203,
  'gdpPercap': 1217.032994},
 {'country': 'Burundi',
  'continent': 'Africa',
  'lifeExp': 49.58,
  'pop': 8390505,
  'gdpPercap': 430.0706916},
 {'country': 'Cambodia',
  'continent': 'Asia',
  'lifeExp': 59.723,
  'pop': 14131858,
  'gdpPercap': 1713.778686},
 {'country': 'Cameroon',
  'continent': 'Africa',
  'lifeExp': 50.43,
  'pop': 17696293,
  'gdpPercap': 2042.09524},
 {'country': 'Canada',
  'continent': 'Americas',
  'lifeExp': 80.653,
  'pop': 33390141,
  'gdpPercap': 36319.23501},
 {'country': 'Central African Republic',
  'continent': 'Africa',
  'lifeExp': 44.741,
  'pop': 4369038,
  'gdpPercap': 706.016537},
 {'country': 'Chad',
  'continent': 'Africa',
  'lifeExp': 50.651,
  'pop': 10238807,
  'gdpPercap': 1704.063724},
 {'country': 'Chile',
  'continent': 'Americas',
  'lifeExp': 78.553,
  'pop': 16284741,
  'gdpPercap': 13171.63885},
 {'country': 'China',
  'continent': 'Asia',
  'lifeExp': 72.961,
  'pop': 1318683096,
  'gdpPercap': 4959.114854},
 {'country': 'Colombia',
  'continent': 'Americas',
  'lifeExp': 72.889,
  'pop': 44227550,
  'gdpPercap': 7006.580419},
 {'country': 'Comoros',
  'continent': 'Africa',
  'lifeExp': 65.152,
  'pop': 710960,
  'gdpPercap': 986.1478792},
 {'country': 'Congo, Dem. Rep.',
  'continent': 'Africa',
  'lifeExp': 46.462,
  'pop': 64606759,
  'gdpPercap': 277.5518587},
 {'country': 'Congo, Rep.',
  'continent': 'Africa',
  'lifeExp': 55.322,
  'pop': 3800610,
  'gdpPercap': 3632.557798},
 {'country': 'Costa Rica',
  'continent': 'Americas',
  'lifeExp': 78.782,
  'pop': 4133884,
  'gdpPercap': 9645.06142},
 {'country': "Cote d'Ivoire",
  'continent': 'Africa',
  'lifeExp': 48.328,
  'pop': 18013409,
  'gdpPercap': 1544.750112},
 {'country': 'Croatia',
  'continent': 'Europe',
  'lifeExp': 75.748,
  'pop': 4493312,
  'gdpPercap': 14619.22272},
 {'country': 'Cuba',
  'continent': 'Americas',
  'lifeExp': 78.273,
  'pop': 11416987,
  'gdpPercap': 8948.102923},
 {'country': 'Czech Republic',
  'continent': 'Europe',
  'lifeExp': 76.486,
  'pop': 10228744,
  'gdpPercap': 22833.30851},
 {'country': 'Denmark',
  'continent': 'Europe',
  'lifeExp': 78.332,
  'pop': 5468120,
  'gdpPercap': 35278.41874},
 {'country': 'Djibouti',
  'continent': 'Africa',
  'lifeExp': 54.791,
  'pop': 496374,
  'gdpPercap': 2082.481567},
 {'country': 'Dominican Republic',
  'continent': 'Americas',
  'lifeExp': 72.235,
  'pop': 9319622,
  'gdpPercap': 6025.374752},
 {'country': 'Ecuador',
  'continent': 'Americas',
  'lifeExp': 74.994,
  'pop': 13755680,
  'gdpPercap': 6873.262326},
 {'country': 'Egypt',
  'continent': 'Africa',
  'lifeExp': 71.338,
  'pop': 80264543,
  'gdpPercap': 5581.180998},
 {'country': 'El Salvador',
  'continent': 'Americas',
  'lifeExp': 71.878,
  'pop': 6939688,
  'gdpPercap': 5728.353514},
 {'country': 'Equatorial Guinea',
  'continent': 'Africa',
  'lifeExp': 51.579,
  'pop': 551201,
  'gdpPercap': 12154.08975},
 {'country': 'Eritrea',
  'continent': 'Africa',
  'lifeExp': 58.04,
  'pop': 4906585,
  'gdpPercap': 641.3695236},
 {'country': 'Ethiopia',
  'continent': 'Africa',
  'lifeExp': 52.947,
  'pop': 76511887,
  'gdpPercap': 690.8055759},
 {'country': 'Finland',
  'continent': 'Europe',
  'lifeExp': 79.313,
  'pop': 5238460,
  'gdpPercap': 33207.0844},
 {'country': 'France',
  'continent': 'Europe',
  'lifeExp': 80.657,
  'pop': 61083916,
  'gdpPercap': 30470.0167},
 {'country': 'Gabon',
  'continent': 'Africa',
  'lifeExp': 56.735,
  'pop': 1454867,
  'gdpPercap': 13206.48452},
 {'country': 'Gambia',
  'continent': 'Africa',
  'lifeExp': 59.448,
  'pop': 1688359,
  'gdpPercap': 752.7497265},
 {'country': 'Germany',
  'continent': 'Europe',
  'lifeExp': 79.406,
  'pop': 82400996,
  'gdpPercap': 32170.37442},
 {'country': 'Ghana',
  'continent': 'Africa',
  'lifeExp': 60.022,
  'pop': 22873338,
  'gdpPercap': 1327.60891},
 {'country': 'Greece',
  'continent': 'Europe',
  'lifeExp': 79.483,
  'pop': 10706290,
  'gdpPercap': 27538.41188},
 {'country': 'Guatemala',
  'continent': 'Americas',
  'lifeExp': 70.259,
  'pop': 12572928,
  'gdpPercap': 5186.050003},
 {'country': 'Guinea',
  'continent': 'Africa',
  'lifeExp': 56.007,
  'pop': 9947814,
  'gdpPercap': 942.6542111},
 {'country': 'Guinea-Bissau',
  'continent': 'Africa',
  'lifeExp': 46.388,
  'pop': 1472041,
  'gdpPercap': 579.231743},
 {'country': 'Haiti',
  'continent': 'Americas',
  'lifeExp': 60.916,
  'pop': 8502814,
  'gdpPercap': 1201.637154},
 {'country': 'Honduras',
  'continent': 'Americas',
  'lifeExp': 70.198,
  'pop': 7483763,
  'gdpPercap': 3548.330846},
 {'country': 'Hong Kong, China',
  'continent': 'Asia',
  'lifeExp': 82.208,
  'pop': 6980412,
  'gdpPercap': 39724.97867},
 {'country': 'Hungary',
  'continent': 'Europe',
  'lifeExp': 73.338,
  'pop': 9956108,
  'gdpPercap': 18008.94444},
 {'country': 'Iceland',
  'continent': 'Europe',
  'lifeExp': 81.757,
  'pop': 301931,
  'gdpPercap': 36180.78919},
 {'country': 'India',
  'continent': 'Asia',
  'lifeExp': 64.698,
  'pop': 1110396331,
  'gdpPercap': 2452.210407},
 {'country': 'Indonesia',
  'continent': 'Asia',
  'lifeExp': 70.65,
  'pop': 223547000,
  'gdpPercap': 3540.651564},
 {'country': 'Iran',
  'continent': 'Asia',
  'lifeExp': 70.964,
  'pop': 69453570,
  'gdpPercap': 11605.71449},
 {'country': 'Iraq',
  'continent': 'Asia',
  'lifeExp': 59.545,
  'pop': 27499638,
  'gdpPercap': 4471.061906},
 {'country': 'Ireland',
  'continent': 'Europe',
  'lifeExp': 78.885,
  'pop': 4109086,
  'gdpPercap': 40675.99635},
 {'country': 'Israel',
  'continent': 'Asia',
  'lifeExp': 80.745,
  'pop': 6426679,
  'gdpPercap': 25523.2771},
 {'country': 'Italy',
  'continent': 'Europe',
  'lifeExp': 80.546,
  'pop': 58147733,
  'gdpPercap': 28569.7197},
 {'country': 'Jamaica',
  'continent': 'Americas',
  'lifeExp': 72.567,
  'pop': 2780132,
  'gdpPercap': 7320.880262},
 {'country': 'Japan',
  'continent': 'Asia',
  'lifeExp': 82.603,
  'pop': 127467972,
  'gdpPercap': 31656.06806},
 {'country': 'Jordan',
  'continent': 'Asia',
  'lifeExp': 72.535,
  'pop': 6053193,
  'gdpPercap': 4519.461171},
 {'country': 'Kenya',
  'continent': 'Africa',
  'lifeExp': 54.11,
  'pop': 35610177,
  'gdpPercap': 1463.249282},
 {'country': 'Korea, Dem. Rep.',
  'continent': 'Asia',
  'lifeExp': 67.297,
  'pop': 23301725,
  'gdpPercap': 1593.06548},
 {'country': 'Korea, Rep.',
  'continent': 'Asia',
  'lifeExp': 78.623,
  'pop': 49044790,
  'gdpPercap': 23348.13973},
 {'country': 'Kuwait',
  'continent': 'Asia',
  'lifeExp': 77.588,
  'pop': 2505559,
  'gdpPercap': 47306.98978},
 {'country': 'Lebanon',
  'continent': 'Asia',
  'lifeExp': 71.993,
  'pop': 3921278,
  'gdpPercap': 10461.05868},
 {'country': 'Lesotho',
  'continent': 'Africa',
  'lifeExp': 42.592,
  'pop': 2012649,
  'gdpPercap': 1569.331442},
 {'country': 'Liberia',
  'continent': 'Africa',
  'lifeExp': 45.678,
  'pop': 3193942,
  'gdpPercap': 414.5073415},
 {'country': 'Libya',
  'continent': 'Africa',
  'lifeExp': 73.952,
  'pop': 6036914,
  'gdpPercap': 12057.49928},
 {'country': 'Madagascar',
  'continent': 'Africa',
  'lifeExp': 59.443,
  'pop': 19167654,
  'gdpPercap': 1044.770126},
 {'country': 'Malawi',
  'continent': 'Africa',
  'lifeExp': 48.303,
  'pop': 13327079,
  'gdpPercap': 759.3499101},
 {'country': 'Malaysia',
  'continent': 'Asia',
  'lifeExp': 74.241,
  'pop': 24821286,
  'gdpPercap': 12451.6558},
 {'country': 'Mali',
  'continent': 'Africa',
  'lifeExp': 54.467,
  'pop': 12031795,
  'gdpPercap': 1042.581557},
 {'country': 'Mauritania',
  'continent': 'Africa',
  'lifeExp': 64.164,
  'pop': 3270065,
  'gdpPercap': 1803.151496},
 {'country': 'Mauritius',
  'continent': 'Africa',
  'lifeExp': 72.801,
  'pop': 1250882,
  'gdpPercap': 10956.99112},
 {'country': 'Mexico',
  'continent': 'Americas',
  'lifeExp': 76.195,
  'pop': 108700891,
  'gdpPercap': 11977.57496},
 {'country': 'Mongolia',
  'continent': 'Asia',
  'lifeExp': 66.803,
  'pop': 2874127,
  'gdpPercap': 3095.772271},
 {'country': 'Montenegro',
  'continent': 'Europe',
  'lifeExp': 74.543,
  'pop': 684736,
  'gdpPercap': 9253.896111},
 {'country': 'Morocco',
  'continent': 'Africa',
  'lifeExp': 71.164,
  'pop': 33757175,
  'gdpPercap': 3820.17523},
 {'country': 'Mozambique',
  'continent': 'Africa',
  'lifeExp': 42.082,
  'pop': 19951656,
  'gdpPercap': 823.6856205},
 {'country': 'Myanmar',
  'continent': 'Asia',
  'lifeExp': 62.069,
  'pop': 47761980,
  'gdpPercap': 944.0},
 {'country': 'Namibia',
  'continent': 'Africa',
  'lifeExp': 52.906,
  'pop': 2055080,
  'gdpPercap': 4811.060429},
 {'country': 'Nepal',
  'continent': 'Asia',
  'lifeExp': 63.785,
  'pop': 28901790,
  'gdpPercap': 1091.359778},
 {'country': 'Netherlands',
  'continent': 'Europe',
  'lifeExp': 79.762,
  'pop': 16570613,
  'gdpPercap': 36797.93332},
 {'country': 'New Zealand',
  'continent': 'Oceania',
  'lifeExp': 80.204,
  'pop': 4115771,
  'gdpPercap': 25185.00911},
 {'country': 'Nicaragua',
  'continent': 'Americas',
  'lifeExp': 72.899,
  'pop': 5675356,
  'gdpPercap': 2749.320965},
 {'country': 'Niger',
  'continent': 'Africa',
  'lifeExp': 56.867,
  'pop': 12894865,
  'gdpPercap': 619.6768924},
 {'country': 'Nigeria',
  'continent': 'Africa',
  'lifeExp': 46.859,
  'pop': 135031164,
  'gdpPercap': 2013.977305},
 {'country': 'Norway',
  'continent': 'Europe',
  'lifeExp': 80.196,
  'pop': 4627926,
  'gdpPercap': 49357.19017},
 {'country': 'Oman',
  'continent': 'Asia',
  'lifeExp': 75.64,
  'pop': 3204897,
  'gdpPercap': 22316.19287},
 {'country': 'Pakistan',
  'continent': 'Asia',
  'lifeExp': 65.483,
  'pop': 169270617,
  'gdpPercap': 2605.94758},
 {'country': 'Panama',
  'continent': 'Americas',
  'lifeExp': 75.537,
  'pop': 3242173,
  'gdpPercap': 9809.185636},
 {'country': 'Paraguay',
  'continent': 'Americas',
  'lifeExp': 71.752,
  'pop': 6667147,
  'gdpPercap': 4172.838464},
 {'country': 'Peru',
  'continent': 'Americas',
  'lifeExp': 71.421,
  'pop': 28674757,
  'gdpPercap': 7408.905561},
 {'country': 'Philippines',
  'continent': 'Asia',
  'lifeExp': 71.688,
  'pop': 91077287,
  'gdpPercap': 3190.481016},
 {'country': 'Poland',
  'continent': 'Europe',
  'lifeExp': 75.563,
  'pop': 38518241,
  'gdpPercap': 15389.92468},
 {'country': 'Portugal',
  'continent': 'Europe',
  'lifeExp': 78.098,
  'pop': 10642836,
  'gdpPercap': 20509.64777},
 {'country': 'Puerto Rico',
  'continent': 'Americas',
  'lifeExp': 78.746,
  'pop': 3942491,
  'gdpPercap': 19328.70901},
 {'country': 'Reunion',
  'continent': 'Africa',
  'lifeExp': 76.442,
  'pop': 798094,
  'gdpPercap': 7670.122558},
 {'country': 'Romania',
  'continent': 'Europe',
  'lifeExp': 72.476,
  'pop': 22276056,
  'gdpPercap': 10808.47561},
 {'country': 'Rwanda',
  'continent': 'Africa',
  'lifeExp': 46.242,
  'pop': 8860588,
  'gdpPercap': 863.0884639},
 {'country': 'Sao Tome and Principe',
  'continent': 'Africa',
  'lifeExp': 65.528,
  'pop': 199579,
  'gdpPercap': 1598.435089},
 {'country': 'Saudi Arabia',
  'continent': 'Asia',
  'lifeExp': 72.777,
  'pop': 27601038,
  'gdpPercap': 21654.83194},
 {'country': 'Senegal',
  'continent': 'Africa',
  'lifeExp': 63.062,
  'pop': 12267493,
  'gdpPercap': 1712.472136},
 {'country': 'Serbia',
  'continent': 'Europe',
  'lifeExp': 74.002,
  'pop': 10150265,
  'gdpPercap': 9786.534714},
 {'country': 'Sierra Leone',
  'continent': 'Africa',
  'lifeExp': 42.568,
  'pop': 6144562,
  'gdpPercap': 862.5407561},
 {'country': 'Singapore',
  'continent': 'Asia',
  'lifeExp': 79.972,
  'pop': 4553009,
  'gdpPercap': 47143.17964},
 {'country': 'Slovak Republic',
  'continent': 'Europe',
  'lifeExp': 74.663,
  'pop': 5447502,
  'gdpPercap': 18678.31435},
 {'country': 'Slovenia',
  'continent': 'Europe',
  'lifeExp': 77.926,
  'pop': 2009245,
  'gdpPercap': 25768.25759},
 {'country': 'Somalia',
  'continent': 'Africa',
  'lifeExp': 48.159,
  'pop': 9118773,
  'gdpPercap': 926.1410683},
 {'country': 'South Africa',
  'continent': 'Africa',
  'lifeExp': 49.339,
  'pop': 43997828,
  'gdpPercap': 9269.657808},
 {'country': 'Spain',
  'continent': 'Europe',
  'lifeExp': 80.941,
  'pop': 40448191,
  'gdpPercap': 28821.0637},
 {'country': 'Sri Lanka',
  'continent': 'Asia',
  'lifeExp': 72.396,
  'pop': 20378239,
  'gdpPercap': 3970.095407},
 {'country': 'Sudan',
  'continent': 'Africa',
  'lifeExp': 58.556,
  'pop': 42292929,
  'gdpPercap': 2602.394995},
 {'country': 'Swaziland',
  'continent': 'Africa',
  'lifeExp': 39.613,
  'pop': 1133066,
  'gdpPercap': 4513.480643},
 {'country': 'Sweden',
  'continent': 'Europe',
  'lifeExp': 80.884,
  'pop': 9031088,
  'gdpPercap': 33859.74835},
 {'country': 'Switzerland',
  'continent': 'Europe',
  'lifeExp': 81.701,
  'pop': 7554661,
  'gdpPercap': 37506.41907},
 {'country': 'Syria',
  'continent': 'Asia',
  'lifeExp': 74.143,
  'pop': 19314747,
  'gdpPercap': 4184.548089},
 {'country': 'Taiwan',
  'continent': 'Asia',
  'lifeExp': 78.4,
  'pop': 23174294,
  'gdpPercap': 28718.27684},
 {'country': 'Tanzania',
  'continent': 'Africa',
  'lifeExp': 52.517,
  'pop': 38139640,
  'gdpPercap': 1107.482182},
 {'country': 'Thailand',
  'continent': 'Asia',
  'lifeExp': 70.616,
  'pop': 65068149,
  'gdpPercap': 7458.396327},
 {'country': 'Togo',
  'continent': 'Africa',
  'lifeExp': 58.42,
  'pop': 5701579,
  'gdpPercap': 882.9699438},
 {'country': 'Trinidad and Tobago',
  'continent': 'Americas',
  'lifeExp': 69.819,
  'pop': 1056608,
  'gdpPercap': 18008.50924},
 {'country': 'Tunisia',
  'continent': 'Africa',
  'lifeExp': 73.923,
  'pop': 10276158,
  'gdpPercap': 7092.923025},
 {'country': 'Turkey',
  'continent': 'Europe',
  'lifeExp': 71.777,
  'pop': 71158647,
  'gdpPercap': 8458.276384},
 {'country': 'Uganda',
  'continent': 'Africa',
  'lifeExp': 51.542,
  'pop': 29170398,
  'gdpPercap': 1056.380121},
 {'country': 'United Kingdom',
  'continent': 'Europe',
  'lifeExp': 79.425,
  'pop': 60776238,
  'gdpPercap': 33203.26128},
 {'country': 'United States',
  'continent': 'Americas',
  'lifeExp': 78.242,
  'pop': 301139947,
  'gdpPercap': 42951.65309},
 {'country': 'Uruguay',
  'continent': 'Americas',
  'lifeExp': 76.384,
  'pop': 3447496,
  'gdpPercap': 10611.46299},
 {'country': 'Venezuela',
  'continent': 'Americas',
  'lifeExp': 73.747,
  'pop': 26084662,
  'gdpPercap': 11415.80569},
 {'country': 'Vietnam',
  'continent': 'Asia',
  'lifeExp': 74.249,
  'pop': 85262356,
  'gdpPercap': 2441.576404},
 {'country': 'West Bank and Gaza',
  'continent': 'Asia',
  'lifeExp': 73.422,
  'pop': 4018332,
  'gdpPercap': 3025.349798},
 {'country': 'Yemen, Rep.',
  'continent': 'Asia',
  'lifeExp': 62.698,
  'pop': 22211743,
  'gdpPercap': 2280.769906},
 {'country': 'Zambia',
  'continent': 'Africa',
  'lifeExp': 42.384,
  'pop': 11746035,
  'gdpPercap': 1271.211593},
 {'country': 'Zimbabwe',
  'continent': 'Africa',
  'lifeExp': 43.487,
  'pop': 12311143,
  'gdpPercap': 469.7092981}]

In [82]:
def _stackedarea_payload_generator(type = "abs"):
    # type = "abs"
    label_len = random.randint(1, 10)
    x_max = random.randint(1, 100)
    y_max = random.randint(1, 100)
    z_max = random.randint(1, 100)
    df = pd.DataFrame({"label":[names.get_full_name() for _ in range(label_len)], "X":np.random.uniform(0, x_max, label_len), "Y":np.random.uniform(0, y_max, label_len), "Z":np.random.uniform(0, z_max, label_len)})
    colors = [col_gen() for _ in range(df.shape[1] - 1)]
    df_cols = df.columns.tolist()
    df_cols.remove('label')
    df = df.round(2)
    colors_df = pd.DataFrame({"label": df_cols, "fill":colors})
    return {"data":df[['X', 'Y','Z']].to_dict('records'), "fill":colors_df.to_dict('records'),"value_type":type,"chart_type":"stackedarea"}

In [83]:
_stackedarea_payload_generator()

{'data': [{'X': 31.02, 'Y': 23.72, 'Z': 37.56},
  {'X': 38.65, 'Y': 2.05, 'Z': 3.88},
  {'X': 1.28, 'Y': 22.67, 'Z': 7.94},
  {'X': 42.0, 'Y': 22.8, 'Z': 6.13},
  {'X': 41.62, 'Y': 7.15, 'Z': 24.82},
  {'X': 41.95, 'Y': 4.38, 'Z': 9.63},
  {'X': 64.17, 'Y': 10.72, 'Z': 17.72},
  {'X': 46.36, 'Y': 12.37, 'Z': 9.29},
  {'X': 24.45, 'Y': 19.39, 'Z': 6.04},
  {'X': 29.72, 'Y': 14.91, 'Z': 4.19}],
 'fill': [{'label': 'X', 'fill': '#861ef1'},
  {'label': 'Y', 'fill': '#7f6926'},
  {'label': 'Z', 'fill': '#15900c'}],
 'value_type': 'abs',
 'chart_type': 'stackedarea'}

In [84]:
pd.read_json("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_dendrogram.json")

                                            children name
0  {'name': 'boss1', 'children': [{'name': 'miste...  CEO
1  {'name': 'boss2', 'children': [{'name': 'miste...  CEO

In [86]:
def _correlogram_payload_generator():
    df = pd.read_csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_correlogram.csv")
    df = df.set_index('Unnamed: 0')
    df.index.name = None
    df_dict = df.to_dict('split')
    data_collector = []
    for x in df_dict['index']:
        for y in df_dict['columns']:
            data_collector.append({"x":x,"y":y,"value":float(df.loc[x,y])})
    return data_collector

['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

In [101]:
df_dict['columns']

['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

[{'x': 'mpg', 'y': 'mpg', 'value': 1.0},
 {'x': 'mpg', 'y': 'cyl', 'value': -0.852161959426613},
 {'x': 'mpg', 'y': 'disp', 'value': -0.847551379262479},
 {'x': 'mpg', 'y': 'hp', 'value': -0.776168371826586},
 {'x': 'mpg', 'y': 'drat', 'value': 0.681171907806749},
 {'x': 'mpg', 'y': 'wt', 'value': -0.867659376517228},
 {'x': 'mpg', 'y': 'qsec', 'value': 0.418684033921778},
 {'x': 'mpg', 'y': 'vs', 'value': 0.664038919127593},
 {'x': 'mpg', 'y': 'am', 'value': 0.599832429454648},
 {'x': 'mpg', 'y': 'gear', 'value': 0.480284757338842},
 {'x': 'mpg', 'y': 'carb', 'value': -0.550925073902459},
 {'x': 'cyl', 'y': 'mpg', 'value': -0.852161959426613},
 {'x': 'cyl', 'y': 'cyl', 'value': 1.0},
 {'x': 'cyl', 'y': 'disp', 'value': 0.902032872146999},
 {'x': 'cyl', 'y': 'hp', 'value': 0.83244745272182},
 {'x': 'cyl', 'y': 'drat', 'value': -0.69993811382877},
 {'x': 'cyl', 'y': 'wt', 'value': 0.782495794463241},
 {'x': 'cyl', 'y': 'qsec', 'value': -0.591242073768869},
 {'x': 'cyl', 'y': 'vs', 'value': -0.810811796083005},
 {'x': 'cyl', 'y': 'am', 'value': -0.522607046900675},
 {'x': 'cyl', 'y': 'gear', 'value': -0.492686599389471},
 {'x': 'cyl', 'y': 'carb', 'value': 0.526988293749643},
 {'x': 'disp', 'y': 'mpg', 'value': -0.847551379262479},
 {'x': 'disp', 'y': 'cyl', 'value': 0.902032872146999},
 {'x': 'disp', 'y': 'disp', 'value': 1.0},
 {'x': 'disp', 'y': 'hp', 'value': 0.790948586369806},
 {'x': 'disp', 'y': 'drat', 'value': -0.71021392716927},
 {'x': 'disp', 'y': 'wt', 'value': 0.887979922058138},
 {'x': 'disp', 'y': 'qsec', 'value': -0.433697880811014},
 {'x': 'disp', 'y': 'vs', 'value': -0.7104158907906},
 {'x': 'disp', 'y': 'am', 'value': -0.591227040063948},
 {'x': 'disp', 'y': 'gear', 'value': -0.555569198562483},
 {'x': 'disp', 'y': 'carb', 'value': 0.394976864868969},
 {'x': 'hp', 'y': 'mpg', 'value': -0.776168371826586},
 {'x': 'hp', 'y': 'cyl', 'value': 0.83244745272182},
 {'x': 'hp', 'y': 'disp', 'value': 0.790948586369806},
 {'x': 'hp', 'y': 'hp', 'value': 1.0},
 {'x': 'hp', 'y': 'drat', 'value': -0.44875911687292},
 {'x': 'hp', 'y': 'wt', 'value': 0.658747887344759},
 {'x': 'hp', 'y': 'qsec', 'value': -0.708223388861953},
 {'x': 'hp', 'y': 'vs', 'value': -0.72309673735245},
 {'x': 'hp', 'y': 'am', 'value': -0.243204257185851},
 {'x': 'hp', 'y': 'gear', 'value': -0.125704258225474},
 {'x': 'hp', 'y': 'carb', 'value': 0.74981247154911},
 {'x': 'drat', 'y': 'mpg', 'value': 0.681171907806749},
 {'x': 'drat', 'y': 'cyl', 'value': -0.69993811382877},
 {'x': 'drat', 'y': 'disp', 'value': -0.71021392716927},
 {'x': 'drat', 'y': 'hp', 'value': -0.44875911687292},
 {'x': 'drat', 'y': 'drat', 'value': 1.0},
 {'x': 'drat', 'y': 'wt', 'value': -0.712440646697372},
 {'x': 'drat', 'y': 'qsec', 'value': 0.091204759651183},
 {'x': 'drat', 'y': 'vs', 'value': 0.440278464955349},
 {'x': 'drat', 'y': 'am', 'value': 0.71271112722627},
 {'x': 'drat', 'y': 'gear', 'value': 0.699610131934665},
 {'x': 'drat', 'y': 'carb', 'value': -0.0907897988688673},
 {'x': 'wt', 'y': 'mpg', 'value': -0.867659376517228},
 {'x': 'wt', 'y': 'cyl', 'value': 0.782495794463241},
 {'x': 'wt', 'y': 'disp', 'value': 0.887979922058138},
 {'x': 'wt', 'y': 'hp', 'value': 0.658747887344759},
 {'x': 'wt', 'y': 'drat', 'value': -0.712440646697372},
 {'x': 'wt', 'y': 'wt', 'value': 1.0},
 {'x': 'wt', 'y': 'qsec', 'value': -0.174715878713405},
 {'x': 'wt', 'y': 'vs', 'value': -0.554915677663994},
 {'x': 'wt', 'y': 'am', 'value': -0.692495258839484},
 {'x': 'wt', 'y': 'gear', 'value': -0.583286996536648},
 {'x': 'wt', 'y': 'carb', 'value': 0.427605937735487},
 {'x': 'qsec', 'y': 'mpg', 'value': 0.418684033921778},
 {'x': 'qsec', 'y': 'cyl', 'value': -0.591242073768869},
 {'x': 'qsec', 'y': 'disp', 'value': -0.433697880811014},
 {'x': 'qsec', 'y': 'hp', 'value': -0.708223388861953},
 {'x': 'qsec', 'y': 'drat', 'value': 0.091204759651183},
 {'x': 'qsec', 'y': 'wt', 'value': -0.174715878713405},
 {'x': 'qsec', 'y': 'qsec', 'value': 1.0},
 {'x': 'qsec', 'y': 'vs', 'value': 0.744535443526254},
 {'x': 'qsec', 'y': 'am', 'value': -0.229860862184883},
 {'x': 'qsec', 'y': 'gear', 'value': -0.212682229720365},
 {'x': 'qsec', 'y': 'carb', 'value': -0.656249228338059},
 {'x': 'vs', 'y': 'mpg', 'value': 0.664038919127593},
 {'x': 'vs', 'y': 'cyl', 'value': -0.810811796083005},
 {'x': 'vs', 'y': 'disp', 'value': -0.7104158907906},
 {'x': 'vs', 'y': 'hp', 'value': -0.72309673735245},
 {'x': 'vs', 'y': 'drat', 'value': 0.440278464955349},
 {'x': 'vs', 'y': 'wt', 'value': -0.554915677663994},
 {'x': 'vs', 'y': 'qsec', 'value': 0.744535443526254},
 {'x': 'vs', 'y': 'vs', 'value': 1.0},
 {'x': 'vs', 'y': 'am', 'value': 0.168345124585359},
 {'x': 'vs', 'y': 'gear', 'value': 0.206023348733579},
 {'x': 'vs', 'y': 'carb', 'value': -0.569607141006843},
 {'x': 'am', 'y': 'mpg', 'value': 0.599832429454648},
 {'x': 'am', 'y': 'cyl', 'value': -0.522607046900675},
 {'x': 'am', 'y': 'disp', 'value': -0.591227040063948},
 {'x': 'am', 'y': 'hp', 'value': -0.243204257185851},
 {'x': 'am', 'y': 'drat', 'value': 0.71271112722627},
 {'x': 'am', 'y': 'wt', 'value': -0.692495258839484},
 {'x': 'am', 'y': 'qsec', 'value': -0.229860862184883},
 {'x': 'am', 'y': 'vs', 'value': 0.168345124585359},
 {'x': 'am', 'y': 'am', 'value': 1.0},
 {'x': 'am', 'y': 'gear', 'value': 0.794058760256343},
 {'x': 'am', 'y': 'carb', 'value': 0.0575343510705041},
 {'x': 'gear', 'y': 'mpg', 'value': 0.480284757338842},
 {'x': 'gear', 'y': 'cyl', 'value': -0.492686599389471},
 {'x': 'gear', 'y': 'disp', 'value': -0.555569198562483},
 {'x': 'gear', 'y': 'hp', 'value': -0.125704258225474},
 {'x': 'gear', 'y': 'drat', 'value': 0.699610131934665},
 {'x': 'gear', 'y': 'wt', 'value': -0.583286996536648},
 {'x': 'gear', 'y': 'qsec', 'value': -0.212682229720365},
 {'x': 'gear', 'y': 'vs', 'value': 0.206023348733579},
 {'x': 'gear', 'y': 'am', 'value': 0.794058760256343},
 {'x': 'gear', 'y': 'gear', 'value': 1.0},
 {'x': 'gear', 'y': 'carb', 'value': 0.274072836357522},
 {'x': 'carb', 'y': 'mpg', 'value': -0.550925073902459},
 {'x': 'carb', 'y': 'cyl', 'value': 0.526988293749643},
 {'x': 'carb', 'y': 'disp', 'value': 0.394976864868969},
 {'x': 'carb', 'y': 'hp', 'value': 0.74981247154911},
 {'x': 'carb', 'y': 'drat', 'value': -0.0907897988688673},
 {'x': 'carb', 'y': 'wt', 'value': 0.427605937735487},
 {'x': 'carb', 'y': 'qsec', 'value': -0.656249228338059},
 {'x': 'carb', 'y': 'vs', 'value': -0.569607141006843},
 {'x': 'carb', 'y': 'am', 'value': 0.0575343510705041},
 {'x': 'carb', 'y': 'gear', 'value': 0.274072836357522},
 {'x': 'carb', 'y': 'carb', 'value': 1.0}]